/* ==========================================================================
   AweBooking styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
.tt_event_hours {
  padding: 30px 36px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);
}

.tt_event_hours li {
  border: none;
}

.tt_event_hours li:last-child {
  margin-bottom: 0;
}

.tt_event_hours h4:first-child {
  font-size: 18px;
  font-weight: 700;
  color: #ee0034;
}

.tt_event_hours h4:nth-child(2) {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  margin: 5px 0 0;
  color: #356bf8;
}

.tt_event_hours p {
  color: #868686;
  padding: 0;
  margin: 20px 0 0;
}

.tt_event_hours .type_info {
  display: table;
}

.tt_event_hours .type_info .tt_event_text,
.tt_event_hours .type_info label {
  display: table-cell;
  float: none;
}

.tt_event_items_list .type_info {
  display: table;
}

.tt_event_items_list .type_info .tt_event_text,
.tt_event_items_list .type_info label {
  display: table-cell;
  float: none;
}

.mkdf-ttevents-single {
  font-family: "Montserrat", sans-serif;
}

.mkdf-ttevents-single .mkdf-ttevents-single-image-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 51px;
}

.mkdf-ttevents-single .mkdf-ttevents-single-image-holder img {
  display: block;
}

.mkdf-ttevents-single .mkdf-ttevents-single-subtitle {
  margin: 0 0 8px;
  color: #356bf8;
}

.mkdf-ttevents-single .mkdf-ttevents-single-title {
  margin: 0 0 16px;
}

.mkdf-ttevents-single h2, .mkdf-ttevents-single h3, .mkdf-ttevents-single h4, .mkdf-ttevents-single h5 {
  color: #191919;
  font-family: "Montserrat", sans-serif;
}

.mkdf-ttevents-single .mkdf-ttevents-single-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
}

.mkdf-ttevents-single h3.tt_event_margin_top_27 {
  margin: 0 0 36px;
}

.mkdf-ttevents-single h3.tt_event_margin_top_27 .tt_event_hours_count {
  color: #868686;
}

.mkdf-ttevents-single .tt_event_hours {
  margin: 0 -13px;
}

.mkdf-ttevents-single .tt_event_hours li {
  width: calc(33.33% - 26px);
  padding: 27px 25px 17px;
  margin: 0 13px 26px;
  text-align: center;
  border: 1px solid #d8d8d8;
  background-color: #fafafa;
  box-sizing: border-box;
}

@media only screen and (min-width: 769px) {
  .mkdf-ttevents-single .tt_event_hours li:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-ttevents-single .tt_event_hours li {
    width: calc(50% - 26px);
  }
  .mkdf-ttevents-single .tt_event_hours li:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-ttevents-single .tt_event_hours li {
    width: calc(100% - 26px);
  }
}

.mkdf-ttevents-single .tt_event_hours li h4 {
  margin: 0;
  text-transform: uppercase;
}

.mkdf-ttevents-single .tt_event_hours li h4:nth-of-type(1) {
  margin-bottom: 4px;
}

.mkdf-ttevents-single .tt_event_hours li h4:nth-of-type(2) {
  color: #356bf8;
}

.mkdf-ttevents-single .tt_event_hours li p {
  margin: 8px 0 0;
}

.mkdf-ttevents-single .tt_event_items_list {
  margin: 0;
  padding: 0;
}

.mkdf-ttevents-single .tt_event_items_list li.type_info {
  border-bottom: none;
  padding: 4px 0;
}

.mkdf-ttevents-single .tt_event_items_list li.type_info .tt_event_text {
  color: #356bf8;
  font-size: 14px;
}

.mkdf-ttevents-single .tt_event_items_list li.type_info label {
  font-family: "Montserrat", sans-serif;
  color: #191919;
  font-size: 17px !important;
  font-weight: 400 !important;
}

.mkdf-ttevents-single .tt_event_items_list li:not(.type_info) {
  position: relative;
  padding-left: 27px;
  margin-bottom: 19px;
  background: none;
  font-size: 15px;
  color: #868686;
}

.mkdf-ttevents-single .tt_event_items_list li:not(.type_info):before {
  content: '\4e';
  position: absolute;
  left: 0;
  font-family: 'ElegantIcons';
  color: #356bf8;
  font-size: 18px;
}

.tt_tabs {
  text-align: center;
}

.tt_tabs .tt_tabs_navigation {
  margin: 0 0 30px;
}

.tt_tabs .tt_tabs_navigation li {
  display: inline-block;
  vertical-align: top;
  float: none;
  margin: 0 5px 14px !important;
}

@media only screen and (max-width: 680px) {
  .tt_tabs .tt_tabs_navigation li {
    display: block;
    margin: 0 0 15px !important;
  }
}

.tt_tabs .tt_tabs_navigation li a {
  position: relative;
  padding: 13px 24px 13px 12px !important;
  margin: 0 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 13px !important;
  font-weight: 700;
  color: #191919 !important;
  background-color: transparent;
  border: 0 !important;
  text-transform: uppercase;
  box-sizing: border-box;
  -webkit-transition: all .23s !important;
  -moz-transition: all .23s !important;
  transition: all .23s !important;
}

.tt_tabs .tt_tabs_navigation li a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 2px solid #ee0034;
  -webkit-transition: width 0.23s ease;
  -moz-transition: width 0.23s ease;
  transition: width 0.23s ease;
}

.tt_tabs .tt_tabs_navigation .ui-tabs-active a,
.tt_tabs .tt_tabs_navigation li a:hover {
  padding: 13px 22px 13px 14px !important;
  color: #191919 !important;
}

.tt_tabs .tt_tabs_navigation .ui-tabs-active a:before,
.tt_tabs .tt_tabs_navigation li a:hover:before {
  width: 10px;
}

table.tt_timetable {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  border-collapse: collapse !important;
  border: 2px solid #d8d8d8;
}

table.tt_timetable thead tr {
  border: 2px solid #d8d8d8;
}

table.tt_timetable thead tr.row_gray {
  background-color: transparent !important;
}

table.tt_timetable thead tr:nth-child(even) {
  background-color: #fafafa !important;
}

table.tt_timetable thead th {
  width: 22%;
  height: 62px;
  border-right: 2px solid #d8d8d8 !important;
  color: #191919;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

table.tt_timetable thead th:first-child {
  width: 8%;
}

table.tt_timetable thead th:last-child {
  border-right: 0 !important;
}

table.tt_timetable tbody tr {
  border-bottom: 2px solid #d8d8d8;
}

table.tt_timetable tbody tr:last-child {
  border-bottom: none;
}

table.tt_timetable tbody tr:nth-child(2n) {
  background-color: #f5f5f5;
}

table.tt_timetable tbody tr.row_gray {
  background: transparent !important;
}

table.tt_timetable tbody td {
  padding: 55px 0;
  color: #191919;
  font-size: 18px;
  border-right: 2px solid #d8d8d8 !important;
}

table.tt_timetable .event {
  background: none !important;
  vertical-align: middle;
}

table.tt_timetable .event .event_header {
  margin-top: 6px;
  margin-bottom: 5px;
  color: #191919 !important;
  font-size: 18px;
  font-weight: inherit;
}

table.tt_timetable .event .event_header:hover {
  color: #191919 !important;
  text-decoration: none;
}

table.tt_timetable .event .event_container {
  padding: 28px 10px;
}

table.tt_timetable .event .event_container.tt_tooltip:hover {
  background-color: transparent;
}

table.tt_timetable .event .before_hour_text,
table.tt_timetable .event .after_hour_text {
  color: #868686;
  font-size: 14px;
}

table.tt_timetable .event .before_hour_text {
  margin: 0 0 10px;
}

table.tt_timetable .event .after_hour_text {
  margin: 10px 0 0;
}

table.tt_timetable .event .top_hour,
table.tt_timetable .event .bottom_hour {
  display: none;
}

table.tt_timetable .event .top_hour .hours,
table.tt_timetable .event .bottom_hour .hours {
  color: inherit !important;
  font-weight: inherit;
}

table.tt_timetable .event .top_hour {
  margin: 0;
}

table.tt_timetable .event .bottom_hour {
  margin: 0 0 0 5px;
}

table.tt_timetable .event .bottom_hour:before {
  content: "-";
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 0 0;
}

table.tt_timetable .event a {
  color: #356bf8 !important;
  font-size: 18px;
  font-weight: inherit;
}

table.tt_timetable .event a:hover {
  color: #191919 !important;
  text-decoration: none;
}

table.tt_timetable .event hr {
  display: none;
}

table.tt_timetable .tt_tooltip .tt_tooltip_text {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: translateY(20px) scale(0.85);
  -moz-transform: translateY(20px) scale(0.85);
  transform: translateY(20px) scale(0.85);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.6, 0.01, 0, 1.58), opacity 0.2s;
  transition: transform 0.4s cubic-bezier(0.6, 0.01, 0, 1.58), opacity 0.2s;
}

table.tt_timetable .tt_tooltip:hover .tt_tooltip_text {
  opacity: 1;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

table.tt_timetable .tt_tooltip .tt_tooltip_content {
  padding: 0 8px;
  margin: 0 16px;
  color: #fff !important;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-style: italic;
  line-height: 38px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  background: #356bf8;
  border-radius: 0;
  box-sizing: border-box;
}

table.tt_timetable .tt_tooltip .tt_tooltip_content a {
  display: none;
}

table.tt_timetable .tt_tooltip .tt_tooltip_arrow {
  position: absolute;
  bottom: -5px;
  left: calc(50% - 9px);
  border-width: 10px 9px 0;
  border-color: #356bf8 transparent;
}

.tt_responsive .tt_timetable.small .box_header {
  margin: 0;
  color: #191919 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 18px !important;
  text-align: left;
  text-transform: uppercase;
}

.tt_responsive .tt_timetable.small .box_header.page_margin_top {
  margin: 20px 0 0;
}

.tt_responsive .tt_timetable.small .tt_items_list li {
  padding: 15px 0 22px !important;
  border-color: #d8d8d8;
}

.tt_responsive .tt_timetable.small .tt_items_list .event_container {
  text-align: left;
}

.tt_responsive .tt_timetable.small .tt_items_list a {
  color: #191919 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.tt_responsive .tt_timetable.small .tt_items_list a:hover {
  text-decoration: none;
}

.tt_responsive .tt_timetable.small .tt_items_list .value {
  color: #868686;
  font-size: 13px;
}

@media only screen and (max-width: 1024px) {
  table.tt_timetable tbody td {
    font-size: 15px;
  }
  table.tt_timetable .event .event_header {
    font-size: 15px;
  }
  table.tt_timetable .event .after_hour_text,
  table.tt_timetable .event .before_hour_text {
    font-size: 13px;
  }
  table.tt_timetable .event .after_hour_text {
    margin: 5px 0 0;
  }
  .tt_responsive .tt_timetable th,
  .tt_responsive .tt_timetable .event_container {
    padding: 0 !important;
  }
  .tt_responsive .tt_tooltip .tt_tooltip_content {
    padding: 0 !important;
  }
}

.tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected {
  color: #fff;
  background-color: #191919;
  border-color: #191919;
  box-shadow: none;
}

.tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected:hover {
  color: #191919;
  box-shadow: none;
}

.tabs_box_navigation.sf-timetable-menu li:hover ul,
.tabs_box_navigation.sf-timetable-menu li.sfHover ul {
  box-shadow: none;
}

.widget.upcoming_events_widget {
  border: none !important;
  padding: 0 !important;
}

.widget.upcoming_events_widget .tt_upcoming_events_widget {
  clear: both;
}

.widget.upcoming_events_widget .tt_upcoming_events_wrapper {
  margin-top: 0;
}

.widget.upcoming_events_widget .caroufredsel_wrapper {
  border: 1px solid #d8d8d8;
  position: relative;
  background-color: inherit;
  box-sizing: border-box;
}

.widget.upcoming_events_widget .caroufredsel_wrapper:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: inherit;
  z-index: 1;
}

.widget.upcoming_events_widget .tt_upcoming_events {
  width: 100% !important;
}

.widget.upcoming_events_widget .tt_upcoming_events li {
  width: 100%;
  padding: 0 !important;
}

.widget.upcoming_events_widget .tt_upcoming_events .tt_upcoming_events_event_container {
  height: 98px;
  font-size: 20px;
  border: none !important;
  border-bottom: 1px solid #d8d8d8 !important;
  padding: 25px 20px 20px;
  box-sizing: border-box;
}

.widget.upcoming_events_widget .tt_upcoming_events .tt_upcoming_events_event_container:hover {
  height: auto;
}

.widget.upcoming_events_widget .tt_upcoming_events .tt_upcoming_events_hours {
  font-size: 13px;
}

.widget.upcoming_events_widget .tt_upcoming_events .tt_calendar_icon {
  float: none;
  display: inline-block;
  margin: 0 7px 0 0;
  vertical-align: middle;
}

.widget.upcoming_events_widget .tt_upcoming_event_controls {
  clear: both;
  margin-top: 30px;
}

.widget.upcoming_events_widget .tt_upcoming_event_controls a {
  width: 39px;
  height: 39px;
  border: 1px solid #d8d8d8;
  line-height: 39px;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.widget.upcoming_events_widget .tt_upcoming_event_controls a#upcoming_event_prev {
  margin-right: 13px;
}

.widget.upcoming_events_widget .tt_upcoming_event_controls a:hover {
  background-color: #356bf8;
  border-color: #356bf8;
}

.widget.upcoming_events_widget .tt_upcoming_event_controls span {
  display: inline-block;
}

/* ==========================================================================
   Timetable Items List shortcode style - begin
   ========================================================================== */
.mkdf-timetable-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 64px 42px 57px 42px;
  box-sizing: border-box;
}

.mkdf-timetable-list.mkdf-tl-shadow {
  box-shadow: 0 3px 13px 0px rgba(0, 0, 0, 0.12);
}

.mkdf-timetable-list .mkdf-tl-heading {
  margin: 0 0 49px;
}

.mkdf-timetable-list .mkdf-tl-heading .mkdf-tl-subtitle {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}

.mkdf-timetable-list .mkdf-timetable-list-item {
  margin: 0 0 34px;
}

.mkdf-timetable-list .mkdf-timetable-list-item:last-child {
  margin: 0;
}

.mkdf-timetable-list .mkdf-timetable-list-item .mkdf-tli-title {
  font-size: 16px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  color: #ee0034;
  margin: 0;
}

.mkdf-timetable-list .mkdf-timetable-list-item .mkdf-tli-content {
  margin: 8px 0 0;
}

/* ==========================================================================
   Timetable Items List shortcode style - end
   ========================================================================== */
/* ==========================================================================
   AweBooking styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/timetable-map.css.map */
