/* ==========================================================================
   AweBooking responsive styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
   AweBooking responsive style - begin
   ========================================================================== */
@media only screen and (min-width: 768px) {
  .mkdf-awe-booking-page .apb-calendar .ui-datepicker-inline td a,
  .mkdf-awe-booking-page .apb-calendar .ui-datepicker-inline td span {
    padding: 22px 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-awe-booking-single .apb-product_tab {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-awe-booking-page .awebooking .apb-content-area .apb-room-select-footer {
    text-align: center;
  }
  .mkdf-awe-booking-page .awebooking .apb-content-area .apb-room-select-footer .change-all-room-btn,
  .mkdf-awe-booking-page .awebooking .apb-content-area .apb-room-select-footer .apb-btn {
    display: inline-block;
  }
  .mkdf-awe-booking-page .awebooking .apb-content-area .apb-room-select-footer .change-all-room-btn {
    position: relative;
  }
  .mkdf-awe-booking-page .awebooking .apb-content-area .apb-room-select-footer .apb-btn {
    float: none;
    margin: 10px 0 0;
  }
}

/* ==========================================================================
   AweBooking responsive style - end
   ========================================================================== */
/* ==========================================================================
   Timetable Items List shortcode responsive style - begin
   ========================================================================== */
/* ==========================================================================
   Timetable Items List shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   AweBooking responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/timetable-map-responsive.css.map */
