/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
   Footer style - begin
   ========================================================================== */
.mkdf-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #191919;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-center {
  text-align: center;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-left {
  text-align: left;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-right {
  text-align: right;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner {
  border-bottom: 1px solid #3d3d3d;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid {
  padding: 69px 0;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-full-width {
  padding: 69px 50px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #191919;
  box-sizing: border-box;
  text-align: center;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner {
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-grid {
  padding: 28px 0;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-full-width {
  padding: 28px 50px;
}

/* Footer light Skin Style - start */
.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-top-inner {
  border-color: #d8d8d8;
}

.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-top-holder,
.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-bottom-holder {
  background-color: #fff;
}

.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-top-holder .widget h1, .mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-top-holder .widget h2, .mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-top-holder .widget h3, .mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-top-holder .widget h4, .mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-top-holder .widget h5, .mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-top-holder .widget h6,
.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-bottom-holder .widget h1,
.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-bottom-holder .widget h2,
.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-bottom-holder .widget h3,
.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-bottom-holder .widget h4,
.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-bottom-holder .widget h5,
.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-bottom-holder .widget h6 {
  color: #191919;
}

.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-top-holder .widget a:hover {
  color: #868686;
}

.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-top-holder a:hover {
  color: #868686;
}

.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-bottom-holder a {
  color: #356bf8;
}

.mkdf-footer-light-skin .mkdf-page-footer .mkdf-footer-bottom-holder a:hover {
  color: #191919;
}

/* Footer light Skin Style - end */
/* ==========================================================================
   Footer style - end
   ========================================================================== */
/* ==========================================================================
   Footer styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/footer-map.css.map */
