/* ==========================================================================
   Footer responsive styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
   Footer responsive style - begin
   ========================================================================== */
@media only screen and (min-width: 1025px) {
  .mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-grid-col-4:first-child {
    text-align: left;
  }
  .mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-grid-col-4:last-child {
    text-align: right;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3 {
    width: 50%;
    float: left;
  }
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(2n+1) {
    clear: both;
  }
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(3), .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(4) {
    margin-top: 50px;
  }
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-4 {
    width: 33.33333333333333%;
    float: left;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-page-footer .mkdf-column-content:not(:first-child) {
    margin-top: 50px;
  }
}

/* ==========================================================================
   Footer responsive style - end
   ========================================================================== */
/* ==========================================================================
   Footer responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/footer-map-responsive.css.map */
