/*------------------------------------------------------------------
 * This is main responsive css file for theme. It is broken into following sections:
 * 1. Global responsive styles
 * 2. Blog responsive styles
 * 3. Footer responsive styles
 * 4. Header responsive styles
 * 5. Search responsive styles
 * 6. Title area responsive styles
 * 7. Shortcodes responsive styles
 * 8. Custom Post Types responsive styles
-------------------------------------------------------------------*/

/* ==========================================================================
   1. Global responsive styles
   ========================================================================== */

/* Button mixins - start */

/* Button mixins - end */

@media only screen and (max-width: 1024px) {
  body:not(.mkdf-content-is-behind-header):not(.error404) .mkdf-content {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-hide-on-tablet {
    display: none !important;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-hide-on-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner {
    padding: 0 10px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-row-grid-section {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-row-grid-section {
    width: 600px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-row-grid-section {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-row-grid-section {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-grid,
  .mkdf-container-inner,
  .mkdf-row-grid-section {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-paspartu-enabled .mkdf-grid,
  .mkdf-paspartu-enabled .mkdf-container-inner,
  .mkdf-paspartu-enabled .mkdf-row-grid-section {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
  .mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {
    width: 92%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-boxed .mkdf-page-header .mkdf-vertical-align-containers,
  .mkdf-boxed .mkdf-mobile-header .mkdf-vertical-align-containers {
    padding: 0 6px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
  .mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner {
    width: 1050px;
  }

  .mkdf-boxed .mkdf-grid {
    width: 1050px;
  }
}

/*# sourceMappingURL=../css/modules-responsive.css.map */
/* ==========================================================================
   Blog responsive styles - begin
   ========================================================================== */

/* Button mixins - start */

/* Button mixins - end */

/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns .mkdf-blog-masonry-grid-sizer {
    width: 25%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width-height {
    width: 50%;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns .mkdf-blog-masonry-grid-sizer {
    width: 33.33333%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-post-size-large-width-height {
    width: 66.66667%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns .mkdf-blog-masonry-grid-sizer {
    width: 33.33333%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width-height {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns .mkdf-blog-masonry-grid-sizer {
    width: 50%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article.mkdf-post-size-large-width-height {
    width: 100%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns .mkdf-blog-masonry-grid-sizer {
    width: 50%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-post-size-large-width-height {
    width: 100%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns .mkdf-blog-masonry-grid-sizer {
    width: 50%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns .mkdf-blog-masonry-grid-sizer {
    width: 100%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article.mkdf-post-size-large-width-height {
    width: 100%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns .mkdf-blog-masonry-grid-sizer {
    width: 100%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article.mkdf-post-size-large-width-height {
    width: 100%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns .mkdf-blog-masonry-grid-sizer {
    width: 100%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-post-size-large-width-height {
    width: 100%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns .mkdf-blog-masonry-grid-sizer {
    width: 100%;
  }

  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width,
  .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width-height {
    width: 100%;
  }
}

/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .mkdf-author-description .mkdf-author-description-image {
    display: block;
    width: 100%;
    text-align: center;
  }

  .mkdf-author-description .mkdf-author-description-image a {
    display: inline-block;
    width: 190px;
  }

  .mkdf-author-description .mkdf-author-description-text-holder {
    display: block;
    padding: 0;
    margin-top: 30px;
    text-align: center;
  }

  .mkdf-related-posts-holder .mkdf-related-post {
    width: 50% !important;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-related-posts-holder .mkdf-related-post {
    width: 100% !important;
  }
}

/* ==========================================================================
   Blog List shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-grid-sizer {
    width: 25%;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-four-columns .mkdf-bl-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item:nth-child(3n+1),
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-four-columns .mkdf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-five-columns .mkdf-bl-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item:nth-child(3n+1),
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-five-columns .mkdf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-grid-sizer {
    width: 33.33333%;
  }

  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-grid-sizer {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-three-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-three-columns .mkdf-bl-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-three-columns .mkdf-bl-item:nth-child(2n+1),
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-three-columns .mkdf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-four-columns .mkdf-bl-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item:nth-child(2n+1),
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-four-columns .mkdf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-five-columns .mkdf-bl-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item:nth-child(2n+1),
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-five-columns .mkdf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns .mkdf-bl-grid-sizer {
    width: 50%;
  }

  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-grid-sizer {
    width: 50%;
  }

  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-grid-sizer {
    width: 50%;
  }

  .mkdf-blog-list-holder.mkdf-bl-standard-simple.mkdf-bl-three-columns .mkdf-bl-item {
    width: 100%;
  }

  .mkdf-blog-list-holder.mkdf-bl-standard-simple.mkdf-bl-four-columns .mkdf-bl-item {
    width: 100%;
  }

  .mkdf-blog-list-holder.mkdf-bl-standard-simple.mkdf-bl-five-columns .mkdf-bl-item {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-blog-list-holder.mkdf-bl-standard .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-boxed .mkdf-bl-item {
    width: 100% !important;
  }

  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-two-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-two-columns .mkdf-bl-grid-sizer {
    width: 100%;
  }

  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns .mkdf-bl-grid-sizer {
    width: 100%;
  }

  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-grid-sizer {
    width: 100%;
  }

  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-item,
  .mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-grid-sizer {
    width: 100%;
  }
}

/* ==========================================================================
   Blog List shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Blog Slider shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-blog-slider-holder .active .mkdf-blog-slider-item .mkdf-item-image:after,
  .mkdf-blog-slider-holder .active .mkdf-blog-slider-item .mkdf-item-text-wrapper {
    opacity: 1;
  }
}

/* ==========================================================================
   Blog Slider shortcode responsive style - end
   ========================================================================== */

@media only screen and (max-width: 680px) {
  .mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info .mkdf-post-info-left,
  .mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info .mkdf-post-info-right {
    width: 100%;
    float: none;
    text-align: center;
  }

  .mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info .mkdf-post-info-right {
    margin: 30px 0 0;
  }

  .mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-link-holder {
    padding: 55px 10px 50px;
  }

  .mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-mark,
  .mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-link-holder-inner {
    display: block;
    width: 100%;
    text-align: center;
  }

  .mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-link-holder-inner {
    padding: 15px 0 0;
  }

  .mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-link-holder {
    padding: 54px 10px 52px;
  }

  .mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-mark,
  .mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-quote-holder-inner {
    display: block;
    width: 100%;
    text-align: center;
  }

  .mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-quote-holder-inner {
    padding: 15px 0 0;
  }

  .mkdf-blog-holder.mkdf-blog-single .mkdf-blog-single-navigation {
    display: block;
  }

  .mkdf-blog-holder.mkdf-blog-single .mkdf-blog-single-navigation .mkdf-blog-single-next-holder .mkdf-blog-single-nav-wrapper,
  .mkdf-blog-holder.mkdf-blog-single .mkdf-blog-single-navigation .mkdf-blog-single-prev-holder .mkdf-blog-single-nav-wrapper {
    display: none;
  }
}

/* ==========================================================================
   Blog responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/blog-map-responsive.css.map */
/* ==========================================================================
   Footer responsive styles - begin
   ========================================================================== */

/* Button mixins - start */

/* Button mixins - end */

/* ==========================================================================
   Footer responsive style - begin
   ========================================================================== */

@media only screen and (min-width: 1025px) {
  .mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-grid-col-4:first-child {
    text-align: left;
  }

  .mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-grid-col-4:last-child {
    text-align: right;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3 {
    width: 50%;
    float: left;
  }

  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(2n+1) {
    clear: both;
  }

  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(3),
  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-3:nth-child(4) {
    margin-top: 50px;
  }

  .mkdf-page-footer .mkdf-column-content.mkdf-grid-col-4 {
    width: 33.33333333333333%;
    float: left;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-page-footer .mkdf-column-content:not(:first-child) {
    margin-top: 50px;
  }
}

/* ==========================================================================
   Footer responsive style - end
   ========================================================================== */

/* ==========================================================================
   Footer responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/footer-map-responsive.css.map */
/* ==========================================================================
   Header responsive styles - begin
   ========================================================================== */

/* Button mixins - start */

/* Button mixins - end */

/* ==========================================================================
   Header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1280px) {
  .mkdf-page-header .mkdf-vertical-align-containers {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-drop-down .wide .second > .inner > ul {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-page-header {
    display: none;
  }

  .mkdf-drop-down .wide .second > .inner > ul {
    width: 768px;
  }
}

/* ==========================================================================
   Header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Fixed header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .mkdf-boxed .mkdf-page-header .mkdf-fixed-wrapper.fixed {
    width: 1000px;
  }
}

/* ==========================================================================
   Fixed header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Header Box responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-top-bar-background {
    display: none;
  }
}

/* ==========================================================================
   Header Box responsive style - end
   ========================================================================== */

/* ==========================================================================
   Mobile header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-mobile-header {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-mobile-header .mkdf-mobile-nav > ul {
    padding: 45px 0 0;
  }

  .mkdf-mobile-header .mkdf-mobile-nav > ul > li > a,
  .mkdf-mobile-header .mkdf-mobile-nav > ul li > h6 {
    font-size: 19px;
    line-height: 1;
  }

  .mkdf-mobile-header .mkdf-mobile-nav .icon_close {
    top: 5px;
  }

  .mkdf-mobile-header .mkdf-mobile-nav .mkdf-mobile-sidebar {
    display: none;
  }
}

/* ==========================================================================
   Mobile header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Sticky header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .mkdf-boxed .mkdf-page-header .mkdf-sticky-header {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .mkdf-boxed.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
    width: 92%;
  }
}

.mkdf-header-box .mkdf-sticky-header .mkdf-sticky-holder .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0 38px;
}

/* ==========================================================================
   Sticky header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Top header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1280px) {
  .mkdf-top-bar > .mkdf-vertical-align-containers {
    padding: 0 40px;
  }

  .mkdf-top-bar-in-grid-padding .mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-top-bar {
    display: none;
  }
}

/* ==========================================================================
   Top header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Header responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/header-map-responsive.css.map */
/* ==========================================================================
   Search responsive styles - begin
   ========================================================================== */

/* Button mixins - start */

/* Button mixins - end */

/* ==========================================================================
# Search template responsive style - begin
========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-search-page-holder article .mkdf-post-image {
    width: 80px;
  }

  .mkdf-search-page-holder article .mkdf-post-title-area {
    padding: 0 0 0 105px;
    min-height: 80px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-search-page-holder article .mkdf-post-image {
    width: 60px;
  }

  .mkdf-search-page-holder article .mkdf-post-title-area {
    padding: 0 0 0 80px;
    min-height: 60px;
  }
}

/* ==========================================================================
# Search template responsive style - end
========================================================================== */

/* ==========================================================================
# Fullscreen search responsive - start
========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-fullscreen-search-holder .mkdf-form-holder-inner {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-fullscreen-search-holder .mkdf-fullscreen-search-holder .mkdf-fullscreen-search-title {
    font-size: 45px;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-fullscreen-search-holder .mkdf-form-holder-inner {
    width: 80%;
  }
}

/* ==========================================================================
# Fullscreen search responsive - end
========================================================================== */

/* ==========================================================================
   Search responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/search-map-responsive.css.map */
/* ==========================================================================
   AweBooking responsive styles - begin
   ========================================================================== */

/* Button mixins - start */

/* Button mixins - end */

/* ==========================================================================
   AweBooking responsive style - begin
   ========================================================================== */

@media only screen and (min-width: 768px) {
  .mkdf-awe-booking-page .apb-calendar .ui-datepicker-inline td a,
  .mkdf-awe-booking-page .apb-calendar .ui-datepicker-inline td span {
    padding: 22px 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-awe-booking-single .apb-product_tab {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-awe-booking-page .awebooking .apb-content-area .apb-room-select-footer {
    text-align: center;
  }

  .mkdf-awe-booking-page .awebooking .apb-content-area .apb-room-select-footer .change-all-room-btn,
  .mkdf-awe-booking-page .awebooking .apb-content-area .apb-room-select-footer .apb-btn {
    display: inline-block;
  }

  .mkdf-awe-booking-page .awebooking .apb-content-area .apb-room-select-footer .change-all-room-btn {
    position: relative;
  }

  .mkdf-awe-booking-page .awebooking .apb-content-area .apb-room-select-footer .apb-btn {
    float: none;
    margin: 10px 0 0;
  }
}

/* ==========================================================================
   AweBooking responsive style - end
   ========================================================================== */

/* ==========================================================================
   Timetable Items List shortcode responsive style - begin
   ========================================================================== */

/* ==========================================================================
   Timetable Items List shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   AweBooking responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/timetable-map-responsive.css.map */
/* ==========================================================================
   Title responsive styles - begin
   ========================================================================== */

/* Button mixins - start */

/* Button mixins - end */

/* ==========================================================================
   Title responsive style - begin
   ========================================================================== */

@media only screen and (min-width: 1024px) {
  .mkdf-title-holder.mkdf-title-predefined-size .mkdf-page-title {
    font-size: 80px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-title-holder.mkdf-has-bg-image {
    height: auto !important;
    padding: 0 !important;
    background-image: none !important;
  }

  .mkdf-title-holder.mkdf-has-bg-image .mkdf-title-image {
    display: block;
  }

  .mkdf-title-holder.mkdf-has-bg-image .mkdf-title-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100% !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .mkdf-title-holder .mkdf-page-subtitle {
    padding: 0 !important;
    /* important to override inline style from option */
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-title-holder .mkdf-page-subtitle {
    display: none;
  }
}

/* ==========================================================================
   Title responsive style - end
   ========================================================================== */

/* ==========================================================================
   Centered Title type responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-title-holder.mkdf-centered-type .mkdf-page-subtitle {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-title-holder.mkdf-centered-type .mkdf-page-subtitle {
    display: none;
  }
}

/* ==========================================================================
   Centered Title type responsive style - end
   ========================================================================== */

/* ==========================================================================
   Title responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/title-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* Button mixins - start */

/* Button mixins - end */

/* ==========================================================================
   Custom Post Types responsive styles
   ========================================================================== */

/* ==========================================================================
   Portfolio shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns article,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns .mkdf-pl-grid-sizer {
    width: 25%;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns article.mkdf-pl-masonry-large-width,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns article.mkdf-pl-masonry-large-width-height {
    width: 50%;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-portfolio-list-holder.mkdf-pl-gallery.mkdf-pl-four-columns article {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .mkdf-portfolio-list-holder.mkdf-pl-gallery.mkdf-pl-four-columns article:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-portfolio-list-holder.mkdf-pl-gallery.mkdf-pl-five-columns article {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .mkdf-portfolio-list-holder.mkdf-pl-gallery.mkdf-pl-five-columns article:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-four-columns article,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-four-columns .mkdf-pl-grid-sizer {
    width: 33.33333%;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-four-columns article.mkdf-pl-masonry-large-width,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-four-columns article.mkdf-pl-masonry-large-width-height {
    width: 66.66667%;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns article,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns .mkdf-pl-grid-sizer {
    width: 33.33333%;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns article.mkdf-pl-masonry-large-width,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns article.mkdf-pl-masonry-large-width-height {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-portfolio-list-holder.mkdf-pl-gallery.mkdf-pl-three-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-portfolio-list-holder.mkdf-pl-gallery.mkdf-pl-three-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-portfolio-list-holder.mkdf-pl-gallery.mkdf-pl-four-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-portfolio-list-holder.mkdf-pl-gallery.mkdf-pl-four-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-portfolio-list-holder.mkdf-pl-gallery.mkdf-pl-five-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-portfolio-list-holder.mkdf-pl-gallery.mkdf-pl-five-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-three-columns article,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-three-columns .mkdf-pl-grid-sizer {
    width: 50%;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-three-columns article.mkdf-pl-masonry-large-width,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-three-columns article.mkdf-pl-masonry-large-width-height {
    width: 100%;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-four-columns article,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-four-columns .mkdf-pl-grid-sizer {
    width: 50%;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-four-columns article.mkdf-pl-masonry-large-width,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-four-columns article.mkdf-pl-masonry-large-width-height {
    width: 100%;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns article,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns .mkdf-pl-grid-sizer {
    width: 50%;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns article.mkdf-pl-masonry-large-width,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns article.mkdf-pl-masonry-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-portfolio-list-holder.mkdf-pl-gallery article {
    width: 100% !important;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-two-columns article,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-two-columns .mkdf-pl-grid-sizer {
    width: 100%;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-three-columns article,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-three-columns .mkdf-pl-grid-sizer {
    width: 100%;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-four-columns article,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-four-columns .mkdf-pl-grid-sizer {
    width: 100%;
  }

  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns article,
  .mkdf-portfolio-list-holder.mkdf-pl-masonry.mkdf-pl-five-columns .mkdf-pl-grid-sizer {
    width: 100%;
  }
}

/* ==========================================================================
   Portfolio shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Portfolio Single page responsive style - begin
   ========================================================================== */

.mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-gallery-images {
  /***** Columns Layout - begin *****/
  /***** Columns Layout - end *****/
}

@media only screen and (max-width: 1200px) {
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-gallery-images.mkdf-ps-four-columns .mkdf-ps-image {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-gallery-images.mkdf-ps-four-columns .mkdf-ps-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-gallery-images.mkdf-ps-three-columns .mkdf-ps-image {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-gallery-images.mkdf-ps-three-columns .mkdf-ps-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-gallery-images.mkdf-ps-four-columns .mkdf-ps-image {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-gallery-images.mkdf-ps-four-columns .mkdf-ps-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-gallery-images .mkdf-ps-image {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-four-columns .mkdf-ps-image,
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-four-columns .mkdf-ps-grid-sizer {
    width: 33.33333%;
  }

  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-four-columns .mkdf-ps-image.mkdf-ps-masonry-large-item {
    width: 66.66667%;
  }

  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-five-columns .mkdf-ps-image,
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-five-columns .mkdf-ps-grid-sizer {
    width: 33.33333%;
  }

  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-five-columns .mkdf-ps-image.mkdf-ps-masonry-large-item {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-three-columns .mkdf-ps-image,
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-three-columns .mkdf-ps-grid-sizer {
    width: 50%;
  }

  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-three-columns .mkdf-ps-image.mkdf-ps-masonry-large-item {
    width: 100%;
  }

  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-four-columns .mkdf-ps-image,
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-four-columns .mkdf-ps-grid-sizer {
    width: 50%;
  }

  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-four-columns .mkdf-ps-image.mkdf-ps-masonry-large-item {
    width: 100%;
  }

  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-five-columns .mkdf-ps-image,
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-five-columns .mkdf-ps-grid-sizer {
    width: 50%;
  }

  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-five-columns .mkdf-ps-image.mkdf-ps-masonry-large-item {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-two-columns .mkdf-ps-image,
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-two-columns .mkdf-ps-grid-sizer {
    width: 100%;
  }

  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-three-columns .mkdf-ps-image,
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-three-columns .mkdf-ps-grid-sizer {
    width: 100%;
  }

  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-four-columns .mkdf-ps-image,
  .mkdf-portfolio-single-holder .mkdf-ps-image-holder.mkdf-ps-masonry-images.mkdf-ps-four-columns .mkdf-ps-grid-sizer {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-portfolio-single-holder .mkdf-ps-info-holder {
    margin: 30px 0 0 !important;
  }
}

/* ==========================================================================
   Portfolio Single page responsive style - end
   ========================================================================== */

/* ==========================================================================
   Team list shortcode responsive style - begin
   ========================================================================== */

@media only screen and (min-width: 1600px) {
  .mkdf-team-list-holder.mkdf-team-vertical-list .mkdf-team:nth-child(4n+3) .mkdf-team-image-wrap,
  .mkdf-team-list-holder.mkdf-team-vertical-list .mkdf-team:nth-child(4n+4) .mkdf-team-image-wrap {
    width: 500px;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-team-list-holder.mkdf-tl-four-columns .mkdf-team {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .mkdf-team-list-holder.mkdf-tl-four-columns .mkdf-team:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-team-list-holder.mkdf-tl-five-columns .mkdf-team {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .mkdf-team-list-holder.mkdf-tl-five-columns .mkdf-team:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-team-list-holder.mkdf-tl-three-columns .mkdf-team {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-team-list-holder.mkdf-tl-three-columns .mkdf-team:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-team-list-holder.mkdf-tl-four-columns .mkdf-team {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-team-list-holder.mkdf-tl-four-columns .mkdf-team:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-team-list-holder.mkdf-tl-five-columns .mkdf-team {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-team-list-holder.mkdf-tl-five-columns .mkdf-team:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-team-modal-holder .mkdf-team-popup-info-holder {
    padding: 20px 40px;
  }

  .mkdf-team-modal-holder .mkdf-team-title-holder .mkdf-team-popup-social .mkdf-icon-shortcode {
    margin: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-team-list-holder.mkdf-team-vertical-list .mkdf-team:nth-child(4n+3) .mkdf-team-inner {
    margin: 0 0 0 2%;
  }

  .mkdf-team-list-holder.mkdf-team-vertical-list .mkdf-team:nth-child(4n+4) .mkdf-team-inner {
    margin: 28% 0 0 2%;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-team-list-holder .mkdf-tl-inner .mkdf-team {
    width: 100%;
  }

  .mkdf-team-modal-holder {
    width: 100%;
  }

  .mkdf-team-modal-holder .mkdf-team-popup-content {
    margin: 0;
    max-width: 100%;
  }

  .mkdf-team-spinner .mkdf-team-pulse {
    left: calc(50% - 15px);
  }
}

/* ==========================================================================
   Team list shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
# Team responsive style - begin
========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-team.info-bellow .mkdf-team-image {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-team.info-hover {
    margin-bottom: 30px;
  }
}

/* ==========================================================================
# Team responsive style - end
========================================================================== */

/* ==========================================================================
# Team slider responsive - begin
	========================================================================== */

@media only screen and (max-width: 680px) {
  .mkdf-team-slider-holder .mkdf-owl-slider .owl-nav .owl-prev {
    left: 0;
  }

  .mkdf-team-slider-holder .mkdf-owl-slider .owl-nav .owl-next {
    right: 0;
  }
}

/* ==========================================================================
# Team slider responsive - end
	========================================================================== */

/*# sourceMappingURL=../../../../plugins/mkdf-core/assets/css/custom-post-types-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* Button mixins - start */

/* Button mixins - end */

/* ==========================================================================
   Shortcodes responsive styles
   ========================================================================== */

/* ==========================================================================
   Button shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .mkdf-btn.mkdf-btn-large,
  .mkdf-btn.mkdf-btn-huge {
    padding: 16px 28px;
  }
}

/* ==========================================================================
   Button shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Call To Action shortcode responsive style - begin
   ========================================================================== */

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .mkdf-call-to-action-holder .mkdf-grid {
    width: 1100px;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-text-holder {
    width: 66.66666666666667%;
  }

  .mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-button-holder {
    width: 33.33333333333333%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-inner,
  .mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-button-holder {
    display: block;
  }

  .mkdf-call-to-action-holder.mkdf-normal-layout .mkdf-cta-button-holder {
    margin: 28px 0 0;
    text-align: initial;
  }

  .mkdf-call-to-action-holder.mkdf-two-halves-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-two-halves-columns .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-two-thirds-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-two-thirds-columns .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-three-quarters-columns .mkdf-cta-button-holder,
  .mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-text-holder,
  .mkdf-call-to-action-holder.mkdf-four-fifths-columns .mkdf-cta-button-holder {
    width: 100%;
  }
}

/* ==========================================================================
   Call To Action shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   clients Holder shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-5 .mkdf-cc-item {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-5 .mkdf-cc-item:nth-child(5n+1) {
    clear: none;
  }

  .mkdf-clients-wc-holder.mkdf-ch-columns-5 .mkdf-cc-item:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-6 .mkdf-cc-item {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-6 .mkdf-cc-item:nth-child(6n+1) {
    clear: none;
  }

  .mkdf-clients-wc-holder.mkdf-ch-columns-6 .mkdf-cc-item:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-4 .mkdf-cc-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-4 .mkdf-cc-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-5 .mkdf-cc-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-5 .mkdf-cc-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-6 .mkdf-cc-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-6 .mkdf-cc-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-2 .mkdf-cc-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-3 .mkdf-cc-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-4 .mkdf-cc-item {
    width: 50%;
    margin: 0 0 25px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-4 .mkdf-cc-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-5 .mkdf-cc-item {
    width: 50%;
    margin: 0 0 25px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-5 .mkdf-cc-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-6 .mkdf-cc-item {
    width: 50%;
    margin: 0 0 25px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-6 .mkdf-cc-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-clients-wc-holder.mkdf-ch-columns-4 .mkdf-cc-item {
    width: 100%;
  }

  .mkdf-clients-wc-holder.mkdf-ch-columns-5 .mkdf-cc-item {
    width: 100%;
  }

  .mkdf-clients-wc-holder.mkdf-ch-columns-6 .mkdf-cc-item {
    width: 100%;
  }
}

/* ==========================================================================
   clients Holder shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Countdown shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .mkdf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-countdown .countdown-row.countdown-show4 .countdown-section,
  .mkdf-countdown .countdown-row.countdown-show5 .countdown-section,
  .mkdf-countdown .countdown-row.countdown-show6 .countdown-section {
    width: 33.33333333333333%;
  }

  .mkdf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 45px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 30px;
  }

  .mkdf-countdown.mkdf-cd-no-week-month .countdown-row .countdown-section {
    width: 50%;
  }
}

/* ==========================================================================
   Countdown shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Elements Holder shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1280px) {
  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-two-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-three-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-four-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-five-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-six-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content {
    text-align: left;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content {
    text-align: right;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1280.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-two-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-three-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-four-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-five-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-six-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content {
    text-align: left;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content {
    text-align: right;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-1024.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-two-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-three-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-four-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-five-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-six-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content {
    text-align: left;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content {
    text-align: right;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-768.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-two-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-three-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-four-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-five-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-six-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content {
    text-align: left;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content {
    text-align: right;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-680.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-two-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-three-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-four-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-five-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-six-columns .mkdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-left .mkdf-eh-item .mkdf-eh-item-content {
    text-align: left;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-right .mkdf-eh-item .mkdf-eh-item-content {
    text-align: right;
  }

  .mkdf-elements-holder.mkdf-responsive-mode-480.mkdf-one-column-alignment-center .mkdf-eh-item .mkdf-eh-item-content {
    text-align: center;
  }

  .mkdf-elements-holder .mkdf-eh-item-content {
    padding: 0 10px;
  }
}

/* ==========================================================================
   Elements Holder shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Frame Slider shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .mkdf-frame-slider-holder .mkdf-fs-phone {
    background-size: contain;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-frame-slider-holder {
    padding: 74px 0;
  }

  .mkdf-frame-slider-holder .mkdf-fs-phone {
    height: 100%;
    width: 72%;
    background-size: 100% auto;
  }

  .mkdf-frame-slider-holder .mkdf-fs-slides img {
    width: 66%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-frame-slider-holder {
    padding: 57px 0 66px;
  }

  .mkdf-frame-slider-holder .mkdf-fs-phone {
    width: 76%;
  }
}

/* ==========================================================================
   Frame Slider shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Google Map shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   Google Map shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Image Gallery shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image {
    width: 20%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1281px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image:nth-child(6n+1) {
    clear: none;
  }

  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1440px) {
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-grid-sizer {
    width: 20%;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-five-columns .mkdf-ig-image {
    width: 25%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-five-columns .mkdf-ig-image:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image {
    width: 25%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-grid-sizer {
    width: 25%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 50%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-grid-sizer {
    width: 25%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-five-columns .mkdf-ig-image {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-five-columns .mkdf-ig-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-four-columns .mkdf-ig-image {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-two-columns .mkdf-ig-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-three-columns .mkdf-ig-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-four-columns .mkdf-ig-image:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-grid-sizer {
    width: 33.33333%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 66.66667%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-grid-sizer {
    width: 33.33333%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 66.66667%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-four-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-four-columns .mkdf-ig-grid-sizer {
    width: 50%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-four-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-five-columns .mkdf-ig-image {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-five-columns .mkdf-ig-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-three-columns .mkdf-ig-image {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-grid-sizer {
    width: 50%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-grid-sizer {
    width: 50%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-three-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-three-columns .mkdf-ig-grid-sizer {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-three-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-two-columns .mkdf-ig-image {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-three-columns .mkdf-ig-image {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-four-columns .mkdf-ig-image {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-five-columns .mkdf-ig-image {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-grid.mkdf-ig-six-columns .mkdf-ig-image {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-two-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-two-columns .mkdf-ig-grid-sizer {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-two-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-three-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-three-columns .mkdf-ig-grid-sizer {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-three-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-four-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-four-columns .mkdf-ig-grid-sizer {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-four-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-grid-sizer {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-five-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image,
  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-grid-sizer {
    width: 100%;
  }

  .mkdf-image-gallery .mkdf-ig-masonry.mkdf-ig-six-columns .mkdf-ig-image.mkdf-large-masonry-item {
    width: 100%;
  }
}

/* ==========================================================================
   Image Gallery shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Image With Text Responsive shortcode style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-image-with-text-holder {
    /***** Title Left From Image Type ******/
  }

  .mkdf-image-with-text-holder.mkdf-iwt-type-title-left {
    padding: 0;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-image-with-text-holder {
    /***** Title Left From Image Type ******/
  }

  .mkdf-image-with-text-holder.mkdf-iwt-type-title-left {
    padding: 0 0 0 30px;
  }

  .mkdf-image-with-text-holder.mkdf-iwt-type-title-left .mkdf-iwt-content-holder {
    top: 15px;
  }
}

/* ==========================================================================
   Image With Text Responsive shortcode style - end
   ========================================================================== */

/* ==========================================================================
   Item Showcase shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .mkdf-item-showcase-holder .mkdf-is-image {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    margin-top: 0 !important;
  }

  .mkdf-item-showcase-holder .mkdf-is-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .mkdf-item-showcase-holder .mkdf-is-item-holder.mkdf-is-left-holder,
  .mkdf-item-showcase-holder .mkdf-is-item-holder.mkdf-is-right-holder {
    float: right;
    width: 50%;
    padding: 0 0 0 50%;
  }

  .mkdf-item-showcase-holder .mkdf-is-item-holder.mkdf-is-right-holder {
    margin: 36px 0 0;
  }

  .mkdf-item-showcase-holder .mkdf-is-item {
    margin: 36px 0 0;
  }

  .mkdf-item-showcase-holder .mkdf-is-item.mkdf-is-left {
    text-align: left;
  }

  .mkdf-item-showcase-holder .mkdf-is-item.mkdf-is-left .mkdf-is-content {
    padding: 0 0 0 20px;
  }

  .mkdf-item-showcase-holder .mkdf-is-item:not(.mkdf-appeared) {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    transform: translateX(-40px);
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-item-showcase-holder .mkdf-is-image {
    display: none;
  }

  .mkdf-item-showcase-holder .mkdf-is-item-holder.mkdf-is-left-holder,
  .mkdf-item-showcase-holder .mkdf-is-item-holder.mkdf-is-right-holder {
    float: none;
    width: 100%;
    padding: 0;
  }

  .mkdf-item-showcase-holder .mkdf-is-item {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0) !important;
    -moz-transform: translateX(0) translateY(0) !important;
    transform: translateX(0) translateY(0) !important;
  }

  .mkdf-item-showcase-holder .mkdf-is-item.mkdf-is-left .mkdf-is-content,
  .mkdf-item-showcase-holder .mkdf-is-item.mkdf-is-right .mkdf-is-content {
    padding: 0;
  }
}

/* ==========================================================================
   Item Showcase shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Masonry Elements Holder shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-masonry-elements-holder .mkdf-masonry-elements-item {
    width: 50% !important;
  }

  .mkdf-masonry-elements-holder .mkdf-masonry-elements-item.mkdf-large-width,
  .mkdf-masonry-elements-holder .mkdf-masonry-elements-item.mkdf-large-width-height {
    width: 100% !important;
  }

  .mkdf-masonry-elements-holder .mkdf-masonry-elements-grid-sizer {
    width: 50% !important;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-masonry-elements-holder .mkdf-masonry-elements-item {
    width: 100% !important;
  }

  .mkdf-masonry-elements-holder .mkdf-masonry-elements-item.mkdf-large-width,
  .mkdf-masonry-elements-holder .mkdf-masonry-elements-item.mkdf-large-width-height {
    width: 100% !important;
  }

  .mkdf-masonry-elements-holder .mkdf-masonry-elements-grid-sizer {
    width: 100% !important;
  }
}

/* ==========================================================================
   Masonry lements Holder shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Pricing Tables shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .mkdf-pricing-tables.mkdf-five-columns .mkdf-price-table {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1281px) {
  .mkdf-pricing-tables.mkdf-five-columns .mkdf-price-table:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .mkdf-price-table.mkdf-pt-simple-with-icon .mkdf-pt-inner {
    padding: 68px 35px 34px;
  }

  .mkdf-price-table.mkdf-pt-simple-with-icon .mkdf-pt-value {
    font-size: 21px;
  }

  .mkdf-price-table.mkdf-pt-simple-with-icon .mkdf-pt-price {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-pricing-tables.mkdf-three-columns .mkdf-price-table {
    width: 50%;
  }

  .mkdf-pricing-tables.mkdf-four-columns .mkdf-price-table {
    width: 50%;
  }

  .mkdf-pricing-tables.mkdf-five-columns .mkdf-price-table {
    width: 50%;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-pricing-tables .mkdf-price-table {
    width: 100% !important;
  }

  .mkdf-price-table.mkdf-pt-simple-with-icon.mkdf-pt-active .mkdf-btn.mkdf-btn-simple .mkdf-btn-text {
    padding: 0 0 0 32px;
  }

  .mkdf-price-table.mkdf-pt-simple-with-icon.mkdf-pt-active .mkdf-btn.mkdf-btn-simple .mkdf-btn-text:before {
    width: 25px;
  }

  .mkdf-price-table.mkdf-pt-simple-with-icon .mkdf-btn.mkdf-btn-simple:hover .mkdf-btn-text {
    padding: 0 0 0 32px;
  }

  .mkdf-price-table.mkdf-pt-simple-with-icon .mkdf-btn.mkdf-btn-simple:hover .mkdf-btn-text:before {
    width: 25px;
  }
}

/* ==========================================================================
   Pricing Tables shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Process shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1280px) {
  .mkdf-process-holder.mkdf-responsive-1280 .mkdf-mark-horizontal-holder {
    display: none;
  }

  .mkdf-process-holder.mkdf-responsive-1280 .mkdf-mark-vertical-holder {
    display: block;
  }

  .mkdf-process-holder.mkdf-responsive-1280 .mkdf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    box-sizing: border-box;
  }

  .mkdf-process-holder.mkdf-responsive-1280 .mkdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-process-holder.mkdf-responsive-1024 .mkdf-mark-horizontal-holder {
    display: none;
  }

  .mkdf-process-holder.mkdf-responsive-1024 .mkdf-mark-vertical-holder {
    display: block;
  }

  .mkdf-process-holder.mkdf-responsive-1024 .mkdf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    box-sizing: border-box;
  }

  .mkdf-process-holder.mkdf-responsive-1024 .mkdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-process-holder.mkdf-responsive-768 .mkdf-mark-horizontal-holder {
    display: none;
  }

  .mkdf-process-holder.mkdf-responsive-768 .mkdf-mark-vertical-holder {
    display: block;
  }

  .mkdf-process-holder.mkdf-responsive-768 .mkdf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    box-sizing: border-box;
  }

  .mkdf-process-holder.mkdf-responsive-768 .mkdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-process-holder.mkdf-responsive-680 .mkdf-mark-horizontal-holder {
    display: none;
  }

  .mkdf-process-holder.mkdf-responsive-680 .mkdf-mark-vertical-holder {
    display: block;
  }

  .mkdf-process-holder.mkdf-responsive-680 .mkdf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    box-sizing: border-box;
  }

  .mkdf-process-holder.mkdf-responsive-680 .mkdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-process-holder.mkdf-responsive-480 .mkdf-mark-horizontal-holder {
    display: none;
  }

  .mkdf-process-holder.mkdf-responsive-480 .mkdf-mark-vertical-holder {
    display: block;
  }

  .mkdf-process-holder.mkdf-responsive-480 .mkdf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    box-sizing: border-box;
  }

  .mkdf-process-holder.mkdf-responsive-480 .mkdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

/* ==========================================================================
   Process shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Section Title shortcode responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .mkdf-section-title-holder {
    padding: 0 !important;
  }

  .mkdf-section-title-holder.mkdf-st-disable-subtitle-break .mkdf-st-subtitle br {
    display: none;
  }
}

/* ==========================================================================
   Section Title shortcode responsive styles - end
   ========================================================================== */

/* ==========================================================================
   Split Section responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: 1280px) {
  .mkdf-ss-holder.mkdf-ss-break-1280.mkdf-ss-image-right .mkdf-ss-image {
    position: relative;
    left: 0;
  }

  .mkdf-ss-holder.mkdf-ss-break-1280 .mkdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .mkdf-ss-holder.mkdf-ss-break-1280 .mkdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .mkdf-ss-holder.mkdf-ss-break-1280 .mkdf-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-ss-holder.mkdf-ss-break-1024.mkdf-ss-image-right .mkdf-ss-image {
    position: relative;
    left: 0;
  }

  .mkdf-ss-holder.mkdf-ss-break-1024 .mkdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .mkdf-ss-holder.mkdf-ss-break-1024 .mkdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .mkdf-ss-holder.mkdf-ss-break-1024 .mkdf-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-ss-holder.mkdf-ss-break-768.mkdf-ss-image-right .mkdf-ss-image {
    position: relative;
    left: 0;
  }

  .mkdf-ss-holder.mkdf-ss-break-768 .mkdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .mkdf-ss-holder.mkdf-ss-break-768 .mkdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .mkdf-ss-holder.mkdf-ss-break-768 .mkdf-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-ss-holder.mkdf-ss-break-680.mkdf-ss-image-right .mkdf-ss-image {
    position: relative;
    left: 0;
  }

  .mkdf-ss-holder.mkdf-ss-break-680 .mkdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .mkdf-ss-holder.mkdf-ss-break-680 .mkdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .mkdf-ss-holder.mkdf-ss-break-680 .mkdf-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-ss-holder.mkdf-ss-break-480.mkdf-ss-image-right .mkdf-ss-image {
    position: relative;
    left: 0;
  }

  .mkdf-ss-holder.mkdf-ss-break-480 .mkdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .mkdf-ss-holder.mkdf-ss-break-480 .mkdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .mkdf-ss-holder.mkdf-ss-break-480 .mkdf-ss-image img {
    display: block;
  }
}

/* ==========================================================================
   Split Section responsive styles - end
   ========================================================================== */

/* ==========================================================================
   Stacked Images responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 680px) {
  .mkdf-stacked-images-holder.mkdf-si-position-left .mkdf-si-images {
    margin: 0 30px 30px 0;
  }

  .mkdf-stacked-images-holder.mkdf-si-position-left .mkdf-si-images .mkdf-si-stack-image {
    left: 30px;
  }

  .mkdf-stacked-images-holder.mkdf-si-position-right .mkdf-si-images {
    margin: 0 0 30px 30px;
  }

  .mkdf-stacked-images-holder.mkdf-si-position-right .mkdf-si-images .mkdf-si-stack-image {
    right: 30px;
  }

  .mkdf-stacked-images-holder .mkdf-si-images.mkdf-appeared .mkdf-si-stack-image {
    top: 30px;
  }

  .mkdf-stacked-images-holder .mkdf-si-images .mkdf-si-stack-image {
    top: 80px;
  }
}

/* ==========================================================================
   Stacked Images responsive style - end
   ========================================================================== */

/* ==========================================================================
   Tabs shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li {
    margin: 0 26px 0 0;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav {
    width: 180px;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tab-container {
    width: calc(100% - 180px);
    padding: 0 0 0 30px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li {
    margin: 0 20px 0 0;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav,
  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tab-container {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav {
    border-right: 0;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li {
    float: left;
    margin: 0 20px 0 0;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tab-container {
    padding: 31px 0 0;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav {
    padding: 0 0 20px;
  }

  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li {
    display: block;
    float: none;
    margin: 0 0 20px;
  }

  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li a {
    padding: 0;
    width: 100%;
  }

  .mkdf-tabs.mkdf-tabs-simple .mkdf-tabs-nav li.mkdf-tabs-nav-line {
    display: none;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li {
    display: block;
    float: none;
    margin: 0 0 20px;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li a {
    padding: 0;
    width: 100%;
  }

  .mkdf-tabs.mkdf-tabs-vertical .mkdf-tabs-nav li.mkdf-tabs-nav-line {
    display: none;
  }
}

/* ==========================================================================
   Tabs shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Vertical Split Slider shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  body.mkdf-vss-initialized {
    overflow-y: visible !important;
    height: auto !important;
  }

  .mkdf-vertical-split-slider,
  #multiscroll-nav {
    display: none;
  }

  .mkdf-vss-responsive {
    display: block;
  }
}

/* ==========================================================================
   Vertical Split Slider shortcode responsive style - end
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/mkdf-core/assets/css/shortcodes-map-responsive.css.map */