@media only screen and (max-width: 1024px){
/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles-responsive.php evently_mikado_content_responsive_styles function */
.mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner { padding-top: 40px!important;}

}

@media only screen and (min-width: 769px) and (max-width: 1024px){
/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles-responsive.php evently_mikado_h1_responsive_styles3 function */
h1 { font-size: 70px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles-responsive.php evently_mikado_h2_responsive_styles3 function */
h2 { font-size: 45px;}

}

@media only screen and (min-width: 681px) and (max-width: 768px){
/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles-responsive.php evently_mikado_h1_responsive_styles function */
h1 { font-size: 70px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles-responsive.php evently_mikado_h2_responsive_styles function */
h2 { font-size: 45px;}

}

@media only screen and (max-width: 680px){
/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles-responsive.php evently_mikado_h1_responsive_styles2 function */
h1 { font-size: 50px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles-responsive.php evently_mikado_h2_responsive_styles2 function */
h2 { font-size: 40px;}

}