/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles.php evently_mikado_content_styles function */
.mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner { padding-top: 0px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles.php evently_mikado_content_styles function */
.mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner { padding-top: 40px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles.php evently_mikado_h1_styles function */
h1 { margin-top: 0px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles.php evently_mikado_h2_styles function */
h2 { font-size: 28px;line-height: 40px;margin-top: 0px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles.php evently_mikado_h3_styles function */
h3 { margin-top: 0px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles.php evently_mikado_h4_styles function */
h4 { margin-top: 0px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles.php evently_mikado_h5_styles function */
h5 { margin-top: 0px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/assets/custom-styles/general-custom-styles.php evently_mikado_h6_styles function */
h6 { color: #0a0a0a;margin-top: 0px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_text_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { color: #ffffff;margin-bottom: 40px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_border_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { border-width: 0 0 1px 0;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_border_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus { background-color: transparent;border-color: #ee0034;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_border_styles_1 function */
.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus { border-color: #ee0034;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_label_styles_1 function */
.cf7_custom_style_1 p { color: #ffffff;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_button_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit { color: #191919;background-color: rgba(255, 255, 255, 1);}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_button_hover_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #ffffff;background-color: rgba(1, 65, 245, 1);}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_text_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz { border-color: rgba(225, 225, 225, 1);padding-right: 85px;margin-top: 22px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_border_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz { border-width: 0 0 1px 0;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_border_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz:focus { background-color: transparent;border-color: #ee0034;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_border_styles_2 function */
.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea:focus { border-color: #ee0034;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_button_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit { background-color: rgba(53, 107, 248, 1);padding-left: 46px;padding-right: 46px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_button_hover_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { background-color: rgba(1, 65, 245, 1);}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_text_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz { border-color: rgba(162, 162, 162, 1);}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_border_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz { border-width: 0 0 1px 0;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_border_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz:focus { background-color: transparent;border-color: #ee0034;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_border_styles_3 function */
.cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea:focus { border-color: #ee0034;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_focus_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz:focus { color: #868686;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_button_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit { padding-top: 0;padding-bottom: 0;height: 60px;line-height: 57px;background-color: rgba(53, 107, 248, 1);padding-left: 33px;padding-right: 33px;margin-top: 30px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/contactform7/custom-styles/contact-form.php evently_mikado_contact_form7_button_hover_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { background-color: rgba(1, 65, 245, 1);}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/error404/custom-styles/custom-styles.php evently_mikado_404_footer_top_general_styles function */
.mkdf-404-page .mkdf-content { background-image: url(https://etprimewomenawards.com/wp-content/themes/evently/assets/img/404-bg.png);background-position: center 0;background-size: cover;background-repeat: no-repeat;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/header/types/sticky-header/admin/custom-styles/sticky-header-custom-styles.php evently_mikado_sticky_header_styles function */
.mkdf-main-menu.mkdf-sticky-nav > ul > li:hover > a, .mkdf-main-menu.mkdf-sticky-nav > ul > li.mkdf-active-item > a { color: #dd0252;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/header/types/top-header/admin/custom-styles/top-header-custom-styles.php evently_mikado_header_top_bar_styles function */
.mkdf-top-bar-background { height: 91px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/header/admin/custom-styles/header-custom-styles.php evently_mikado_header_menu_area_styles function */
.mkdf-page-header .mkdf-menu-area { box-shadow: 0px 1px 3px rgba(0,0,0,0.15);}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/header/admin/custom-styles/header-custom-styles.php evently_mikado_main_menu_styles function */
.mkdf-main-menu > ul > li > a:hover { color: #dd0252;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/header/admin/custom-styles/header-custom-styles.php evently_mikado_main_menu_styles function */
.mkdf-main-menu > ul > li.mkdf-active-item > a { color: #dd0252;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/header/admin/custom-styles/header-custom-styles.php evently_mikado_main_menu_styles function */
.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.mkdf-fixed-wrapper) .mkdf-main-menu > ul > li.mkdf-active-item > a { color: #dd0252;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/header/admin/custom-styles/header-custom-styles.php evently_mikado_main_menu_styles function */
.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.mkdf-fixed-wrapper) .mkdf-main-menu > ul > li.mkdf-active-item > a { color: #dd0252;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/search/admin/custom-styles/search-custom-styles.php evently_mikado_search_opener_icon_size function */
.mkdf-search-opener { font-size: 18px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/sidearea/admin/custom-styles/sidearea-custom-styles.php evently_mikado_side_area_slide_from_right_type_style function */
.mkdf-side-menu-slide-from-right .mkdf-side-menu { right: -360px;width: 360px;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/sidearea/admin/custom-styles/sidearea-custom-styles.php evently_mikado_side_area_icon_color_styles function */
.mkdf-side-menu a.mkdf-close-side-menu { color: #959494;}

/* generated in /opt/bitnami/apps/wordpress/htdocs/wp-content/themes/evently/framework/modules/sidearea/admin/custom-styles/sidearea-custom-styles.php evently_mikado_side_area_styles function */
.mkdf-side-menu { padding: 66px 40px 36px;text-align: left;}

