/* ==========================================================================
   Search styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
# Search opener - begin
========================================================================== */
.mkdf-search-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1;
  margin: 0 10px;
}

.mkdf-search-opener .mkdf-search-opener-wrapper > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
}

.mkdf-search-opener .mkdf-search-opener-wrapper > *:before {
  display: block;
  line-height: inherit;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener,
.mkdf-light-header .mkdf-top-bar .mkdf-search-opener {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener:hover,
.mkdf-light-header .mkdf-top-bar .mkdf-search-opener:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener,
.mkdf-dark-header .mkdf-top-bar .mkdf-search-opener {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener:hover,
.mkdf-dark-header .mkdf-top-bar .mkdf-search-opener:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

/* ==========================================================================
# Search opener - end
========================================================================== */
/* ==========================================================================
# Search template style - begin
========================================================================== */
.mkdf-search-page-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 80px;
}

.mkdf-search-page-holder .mkdf-search-page-form {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-search-title {
  margin: 0 0 20px;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-search-label {
  display: block;
  font-size: 13px;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 10px;
  clear: both;
  border-bottom: 1px solid #d8d8d8;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-column-left {
  display: table-cell;
  vertical-align: top;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-column-right {
  display: table-cell;
  width: 1%;
  text-align: left;
  vertical-align: top;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px 0 3px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field::-webkit-input-placeholder {
  color: inherit;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field:-moz-placeholder {
  color: inherit;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field::-moz-placeholder {
  color: inherit;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field:-ms-input-placeholder {
  color: inherit;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-submit {
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0;
  font-size: 18px;
  color: #868686;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-submit:hover {
  color: #191919;
}

.mkdf-search-page-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 20px 0;
  margin: 0;
  border-bottom: 1px solid #d8d8d8;
}

.mkdf-search-page-holder article.sticky .mkdf-post-title a {
  color: #356bf8;
}

.mkdf-search-page-holder article.page .mkdf-post-title-area .mkdf-post-info > div.mkdf-post-info-category {
  display: none;
}

.mkdf-search-page-holder article .mkdf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-search-page-holder article .mkdf-post-image {
  display: block;
  float: left;
  width: 130px;
}

.mkdf-search-page-holder article .mkdf-post-image a, .mkdf-search-page-holder article .mkdf-post-image img {
  display: block;
}

.mkdf-search-page-holder article .mkdf-post-title-area {
  min-height: 130px;
  padding: 0 0 0 150px;
}

.mkdf-search-page-holder article .mkdf-post-title-area.mkdf-no-thumbnail {
  padding: 0;
  min-height: inherit;
}

.mkdf-search-page-holder article .mkdf-post-title-area .mkdf-post-title-area-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.mkdf-search-page-holder article .mkdf-post-title-area .mkdf-post-title-area-inner .mkdf-post-title {
  margin: 0;
}

.mkdf-search-page-holder article .mkdf-post-title-area .mkdf-post-title-area-inner .mkdf-post-excerpt {
  margin: 7px 0 0;
}

.mkdf-search-page-holder .mkdf-blog-pagination {
  margin: 50px 0 0;
}

/* ==========================================================================
# Search template style - end
========================================================================== */
/* Fullscreen search general style - start
========================================================================== */
.mkdf-fullscreen-search-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 105;
  opacity: 0;
}

.mkdf-fullscreen-search-holder:before {
  content: '\4c';
  font-family: ElegantIcons;
  position: absolute;
  font-size: 49px;
  color: #fff;
  top: 33px;
  right: 6px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mkdf-fullscreen-search-holder .mkdf-fullscreen-search-close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 45px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.admin-bar .mkdf-fullscreen-search-holder .mkdf-fullscreen-search-close {
  top: 62px;
}

.mkdf-fullscreen-search-holder .mkdf-fullscreen-search-title {
  margin: 0;
  font-size: 70px;
}

.mkdf-fullscreen-search-holder .mkdf-fullscreen-search-subtitle {
  margin: 0 0 2px;
  letter-spacing: 0;
}

.mkdf-fullscreen-search-holder .mkdf-fullscreen-search-form {
  margin: 109px 0 0;
}

.mkdf-fullscreen-search-holder .mkdf-field-holder {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  width: 100%;
  max-width: 860px;
}

.mkdf-fullscreen-search-holder .mkdf-search-field {
  position: relative;
  width: calc( 100% - 219px);
  height: 58px;
  float: left;
  padding: 20px 0 5px 10px;
  margin: 0 35px 0 0;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  font-size: 16px;
  color: #868686;
  line-height: 1em;
  font-weight: 400;
  outline: none;
  box-sizing: border-box;
}

.mkdf-fullscreen-search-holder .mkdf-search-field::-webkit-input-placeholder {
  color: #868686;
}

.mkdf-fullscreen-search-holder .mkdf-search-field:-moz-placeholder {
  color: #868686;
}

.mkdf-fullscreen-search-holder .mkdf-search-field::-moz-placeholder {
  color: #868686;
}

.mkdf-fullscreen-search-holder .mkdf-search-field:-ms-input-placeholder {
  color: #868686;
}

.mkdf-fullscreen-search-holder .mkdf-search-submit {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: 58px;
  border: none;
  padding: 22px 61px;
  background-color: #356bf8;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.075em;
  line-height: 1em;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.24s ease;
  -moz-transition: background-color 0.24s ease;
  transition: background-color 0.24s ease;
}

.mkdf-fullscreen-search-holder .mkdf-search-submit:hover {
  color: #fff;
  background-color: #ee0034;
}

.mkdf-fullscreen-search-table {
  display: table;
  width: 100%;
  height: 100%;
}

.mkdf-fullscreen-search-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Fullscreen search general style - end
========================================================================== */
/* Fullscreen search fade style - start
========================================================================== */
.mkdf-search-fade .mkdf-fullscreen-search-holder {
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  z-index: 112;
  box-sizing: border-box;
}

.mkdf-search-fade .mkdf-fullscreen-search-holder .mkdf-fullscreen-search-table {
  background-color: #fff;
}

body.mkdf-fullscreen-search-with-bg-image.mkdf-search-fade .mkdf-fullscreen-search-table {
  background-color: transparent;
}

.mkdf-search-fade-out.mkdf-search-fade .mkdf-fullscreen-search-holder {
  -webkit-animation: search_fade_out 0.25s linear both;
  -moz-animation: search_fade_out 0.25s linear both;
  animation: search_fade_out 0.25s linear both;
}

.mkdf-search-fade-in.mkdf-search-fade .mkdf-fullscreen-search-holder.mkdf-animate {
  -webkit-animation: search_fade_in 0.25s linear both;
  -moz-animation: search_fade_in 0.25s linear both;
  animation: search_fade_in 0.25s linear both;
}

.mkdf-search-fade .mkdf-fullscreen-search-holder.mkdf-animate .mkdf-fullscreen-search-close {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* Fullscreen search fade style - end
========================================================================== */
/*---------------Fade animation with PUSH TEXT TOP------------*/
@-webkit-keyframes search_push_text_top {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes search_push_text_top {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mkdf-search-fade.mkdf-fullscreen-search-opened .mkdf-fullscreen-search-holder .mkdf-form-holder {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: search_push_text_top 0.8s cubic-bezier(0.19, 1, 0.22, 1) both 0.25s;
  -moz-animation: search_push_text_top 0.8s cubic-bezier(0.19, 1, 0.22, 1) both 0.25s;
  animation: search_push_text_top 0.8s cubic-bezier(0.19, 1, 0.22, 1) both 0.25s;
}

.mkdf-search-fade-out.mkdf-search-fade .mkdf-fullscreen-search-holder .mkdf-search-label,
.mkdf-search-fade-out.mkdf-search-fade .mkdf-fullscreen-search-holder .mkdf-search-submit,
.mkdf-search-fade-out.mkdf-search-fade .mkdf-fullscreen-search-holder .mkdf-field-holder {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

/*----------------------FULLSCREEN SEARCH style end--------------------------*/
/* ==========================================================================
   Search styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/search-map.css.map */
