/* ==========================================================================
   Blog styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
   Blog Common style - begin
   ========================================================================== */
.mkdf-blog-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 70px;
  clear: both;
}

.mkdf-blog-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-holder article.sticky .mkdf-post-title a {
  color: #356bf8;
}

.mkdf-blog-holder article.mkdf-post-has-media .mkdf-post-heading {
  margin: 0;
}

.mkdf-blog-holder article .mkdf-post-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.mkdf-blog-holder article .mkdf-post-image img {
  display: block;
}

.mkdf-blog-holder article .mkdf-post-image .mkdf-post-info-category {
  position: absolute;
  top: 20px;
  left: 28px;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-style: italic;
}

.mkdf-blog-holder article .mkdf-post-image .mkdf-post-info-category a {
  color: #fff;
}

.mkdf-blog-holder article .mkdf-post-image .mkdf-post-info-category a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.mkdf-blog-holder article .mkdf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-holder article .mkdf-post-info-top {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 3px;
  line-height: 1;
}

.mkdf-blog-holder article .mkdf-post-info-top .mkdf-post-info-date {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mkdf-blog-holder article .mkdf-post-info-top .mkdf-post-info-date a {
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-style: italic;
  letter-spacing: -0.05em;
  color: #868686;
}

.mkdf-blog-holder article .mkdf-post-info-top .mkdf-post-info-date a:hover {
  color: #356bf8;
}

.mkdf-blog-holder article.format-gallery .mkdf-post-image {
  width: 100%;
}

.mkdf-blog-holder article.format-gallery .owl-carousel .owl-item {
  z-index: 2;
}

.mkdf-blog-holder article.format-gallery .owl-carousel .owl-item.active {
  z-index: 3;
}

.mkdf-blog-holder article.format-audio.has-post-thumbnail.mkdf-post-no-media .mkdf-post-heading {
  position: relative;
}

.mkdf-blog-holder article.format-audio.has-post-thumbnail .mkdf-blog-audio-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container, .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-embed, .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-embed body, .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  background: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container {
  background-color: #191919;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  height: 38px !important;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  padding: 0 10px 0 4px;
  box-sizing: border-box;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button {
  width: 39px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  width: 30px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  height: 38px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button button {
  position: relative;
  height: 100%;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
  outline: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-play button {
  width: 39px;
  background-image: url("../img/audio/play.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-pause button {
  width: 39px;
  background-image: url("../img/audio/pause.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-stop button {
  width: 39px;
  background-image: url("../img/audio/stop.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-mute button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button {
  width: 30px;
  background-image: url("../img/audio/sound.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-unmute button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button {
  width: 30px;
  background-image: url("../img/audio/mute.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time {
  height: 100%;
  padding: 0;
  font-family: inherit;
  font-size: 13px;
  color: #fff;
  line-height: 36px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail {
  height: 100%;
  padding: 0;
  font-family: inherit;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total {
  height: 5px;
  margin: 15px 14px;
  background: none;
  background-color: #fff;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current {
  height: 5px;
  background-color: #356bf8;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  top: -14px;
  border: 0;
  color: #fff;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float .mejs-time-float-corner {
  border-top-color: #191919;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  background: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider {
  height: 38px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 5px;
  top: 15px;
  background: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background-color: #fff;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #356bf8;
}

.mkdf-blog-holder article.format-video .mkdf-self-hosted-video {
  max-width: 100%;
}

/* ==========================================================================
   Blog Common style - end
   ========================================================================== */
/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-type-masonry {
  /***** Number of Columns - begin *****/
  /***** Number of Columns - end *****/
  /***** Space Between Items - begin *****/
  /***** Space Between Items - end *****/
  /***** Space on container if full width - start *****/
  /***** Space on container if full width - end *****/
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-holder-inner {
  opacity: 0;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article {
  float: left;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article,
.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-sizer {
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-gutter {
  width: 0;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns .mkdf-blog-masonry-grid-sizer {
  width: 50%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article.mkdf-post-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article.mkdf-post-size-large-width-height {
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns .mkdf-blog-masonry-grid-sizer {
  width: 33.33333%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article.mkdf-post-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article.mkdf-post-size-large-width-height {
  width: 66.66667%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns .mkdf-blog-masonry-grid-sizer {
  width: 25%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-post-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-post-size-large-width-height {
  width: 50%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns .mkdf-blog-masonry-grid-sizer {
  width: 20%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width-height {
  width: 40%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-no-space .mkdf-blog-holder-inner {
  margin: 0 -0px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-no-space article {
  padding: 0 0px;
  margin: 0 0 0px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-tiny-space .mkdf-blog-holder-inner {
  margin: 0 -5px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-tiny-space article {
  padding: 0 5px;
  margin: 0 0 10px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-small-space .mkdf-blog-holder-inner {
  margin: 0 -10px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-small-space article {
  padding: 0 10px;
  margin: 0 0 20px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-normal-space .mkdf-blog-holder-inner {
  margin: 0 -15px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-normal-space article {
  padding: 0 15px;
  margin: 0 0 30px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width {
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-blog-tiny-space {
  padding: 0 10px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-blog-small-space {
  padding: 0 20px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-blog-normal-space {
  padding: 0 30px;
}

/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Masonry style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-masonry article {
  margin: 0 0 20px;
  padding: 0 0 30px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-title {
  margin: 0 0 6px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-content {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-text {
  padding: 31px 38px 43px 38px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-info-top {
  margin: 0 0 9px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-info-top > div a {
  font-size: 13px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-info-top .mkdf-post-info-date a {
  font-size: 14px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-excerpt-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-info-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 18px 0 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-info-bottom > div {
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
  line-height: 27px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
  text-align: right;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div {
  margin-left: 17px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div:first-child {
  margin-left: 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-social-share-holder.mkdf-dropdown .mkdf-social-share-dropdown-opener .mkdf-social-share-title {
  display: none;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-social-share-holder.mkdf-dropdown .mkdf-social-share-dropdown-opener .social_share {
  color: #cacaca;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-text {
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-link-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 129px 72px 129px;
  background-color: #356bf8;
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-mark {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-mark span {
  font-size: 60px;
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-link-holder-inner {
  display: block;
  padding: 0;
  margin: 15px 0 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-title {
  color: #fff;
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-title a:hover {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-text {
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-quote-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 108px 72px 123px;
  background-color: #ee0034;
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-mark {
  display: block;
  width: 60px;
  height: 54px;
  margin: 0 auto;
  text-align: left;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-mark span {
  font-size: 60px;
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-quote-holder-inner {
  display: block;
  padding: 0;
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-title {
  color: #fff;
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-title a:hover {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-quote-author {
  display: block;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  color: #fff;
  margin: 9px 0 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-video .mkdf-post-image-video {
  position: relative;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-video .mkdf-post-video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 40px 43px 30px;
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-video .mkdf-post-video .mkdf-post-title,
.mkdf-blog-holder.mkdf-blog-masonry article.format-video .mkdf-post-video .mkdf-post-excerpt {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-video .mkdf-post-video .mkdf-post-excerpt {
  margin: 11px 0 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-video .mkdf-post-video .mkdf-video-post-link {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  margin: 21px 0 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-video .mkdf-post-video .mkdf-video-post-link span {
  vertical-align: middle;
  line-height: 17px;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-video .mkdf-post-video .mkdf-video-post-link span:not(.mkdf-video-link-text) {
  font-size: 16px;
  margin: 0 3px 0 0;
}

.mkdf-blog-holder .mkdf-blog-pagination {
  margin: 20px 0 0;
}

/* ==========================================================================
   Blog List - Masonry style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Metro style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-metro {
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-metro article {
  overflow: hidden;
}

.mkdf-blog-holder.mkdf-blog-metro article .mkdf-post-image a:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.mkdf-blog-holder.mkdf-blog-metro article:not(.format-gallery) .mkdf-post-image {
  height: 100%;
}

.mkdf-blog-holder.mkdf-blog-metro article:not(.format-gallery) .mkdf-post-image a {
  display: block;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mkdf-blog-holder.mkdf-blog-metro article:not(.format-gallery) .mkdf-post-image a img {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.mkdf-blog-holder.mkdf-blog-metro article .mkdf-post-info {
  position: absolute;
  left: 27px;
  bottom: 18px;
  width: calc(100% - 60px);
  opacity: 0;
  -webkit-transform: translate3d(-20px, 0, 0);
  -moz-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.47, 0.56, 0, 0.88);
  -moz-transition: all 0.4s cubic-bezier(0.47, 0.56, 0, 0.88);
  transition: all 0.4s cubic-bezier(0.47, 0.56, 0, 0.88);
}

.mkdf-blog-holder.mkdf-blog-metro article .mkdf-post-info > * {
  display: block;
}

.mkdf-blog-holder.mkdf-blog-metro article .mkdf-post-info .mkdf-post-info-date a {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-metro article .mkdf-post-info .mkdf-post-title {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-metro article .mkdf-post-info .mkdf-post-title a:hover {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-link .mkdf-post-content {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  height: 100%;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-link .mkdf-post-text {
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-link .mkdf-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 20px 50px 20px;
  background-color: #356bf8;
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-link .mkdf-post-mark {
  display: block;
  height: auto;
  margin: 0 auto;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-link .mkdf-post-mark span {
  font-size: 60px;
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-link .mkdf-post-link-holder-inner {
  display: block;
  height: auto;
  padding: 0;
  margin: 15px 0 0;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-link .mkdf-post-title {
  color: #fff;
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-quote .mkdf-post-content {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  height: 100%;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-quote .mkdf-post-text {
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-quote .mkdf-post-quote-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 20px 50px 20px;
  background-color: #ee0034;
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-quote .mkdf-post-mark {
  display: block;
  width: 60px;
  height: 54px;
  margin: 0 auto;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-quote .mkdf-post-mark span {
  font-size: 60px;
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-quote .mkdf-post-quote-holder-inner {
  display: block;
  height: auto;
  padding: 0;
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-quote .mkdf-post-title {
  color: #fff;
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-quote .mkdf-post-title a:hover {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-quote .mkdf-quote-author {
  display: block;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  color: #fff;
  margin: 9px 0 0;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-video .mkdf-video-post-link {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 56px;
  height: 56px;
  font-size: 56px;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mkdf-blog-holder.mkdf-blog-metro article.format-gallery .mkdf-blog-gallery,
.mkdf-blog-holder.mkdf-blog-metro article.format-gallery .owl-wrapper-outer {
  display: block;
  height: 100%;
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-gallery .owl-wrapper,
.mkdf-blog-holder.mkdf-blog-metro article.format-gallery .owl-item,
.mkdf-blog-holder.mkdf-blog-metro article.format-gallery .mkdf-blog-gallery-item {
  height: 100%;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-gallery .mkdf-blog-gallery-item {
  background-size: cover;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-gallery .mkdf-blog-gallery-item a {
  display: block;
  height: 100%;
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-metro article.format-gallery .owl-stage-outer,
.mkdf-blog-holder.mkdf-blog-metro article.format-gallery .owl-carousel .owl-stage {
  height: 100% !important;
}

.mkdf-blog-holder.mkdf-blog-metro article:hover .mkdf-post-info {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mkdf-blog-holder.mkdf-blog-metro article:hover .mkdf-post-image a {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.mkdf-blog-holder.mkdf-blog-metro article:hover .mkdf-post-image a:after {
  opacity: 1;
}

.mkdf-blog-holder .mkdf-blog-pagination {
  margin: 50px 0 70px;
}

/* ==========================================================================
   Blog List - Metro style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-standard article {
  margin: 0 0 50px;
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-content {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-text {
  padding: 33px 27px 13px;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-title {
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-excerpt-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 20px;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-more-link-container {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 0;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 26px 0 20px;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom > div {
  position: relative;
  display: inline-block;
  float: left;
  font-family: "Libre Baskerville", serif;
  line-height: 27px;
  font-style: italic;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom > div a {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  font-style: inherit;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom > div a:hover {
  color: #356bf8;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom .mkdf-post-info-bottom-left {
  width: 70%;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom .mkdf-post-info-bottom-left > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
  width: 30%;
  text-align: right;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div {
  margin-left: 0;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-author {
  margin: 0 20px 0 0;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-author .mkdf-post-author-img {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 7px 0 0;
  overflow: hidden;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-comments-holder {
  margin: 0 20px 0 0;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-comments-holder a span,
.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-comments-holder a i {
  vertical-align: middle;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-comments-holder a .icon_comment_alt {
  margin: 0 9px 0 0;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-post-info-category {
  margin: 0 15px 0 0;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-tags-holder span,
.mkdf-blog-holder.mkdf-blog-standard article .mkdf-tags-holder div {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-tags-holder span {
  margin: 0 10px 0 0;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-blog-share {
  line-height: 40px;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-social-share-holder.mkdf-dropdown .mkdf-social-share-dropdown-opener .mkdf-social-share-title {
  display: none;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-social-share-holder.mkdf-dropdown .mkdf-social-share-dropdown-opener .social_share {
  color: #cacaca;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-link .mkdf-post-text {
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-link .mkdf-post-link-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 55px 15px 50px 37px;
  background-color: #356bf8;
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-link .mkdf-post-mark {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 60px;
  vertical-align: middle;
  text-align: center;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-link .mkdf-post-mark span {
  font-size: 60px;
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-link .mkdf-post-link-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: middle;
  padding: 0 0 0 31px;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-link .mkdf-post-title {
  color: #fff;
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-link .mkdf-post-title:hover {
  opacity: 0.85;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-link .mkdf-post-title:hover a {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-quote .mkdf-post-text {
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-quote .mkdf-post-quote-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 54px 10px 52px 37px;
  background-color: #ee0034;
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-quote .mkdf-post-mark {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 50px;
  vertical-align: top;
  text-align: left;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-quote .mkdf-post-mark span {
  font-size: 60px;
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-quote .mkdf-post-quote-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: middle;
  padding: 0 0 0 37px;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-quote .mkdf-post-title {
  color: #fff;
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-quote .mkdf-post-title:hover {
  opacity: 0.85;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-quote .mkdf-post-title:hover a {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-quote .mkdf-quote-author {
  display: block;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  color: #fff;
  margin: 9px 0 0;
}

/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */
/* Single author box styles - begin
	====================================================================== */
.mkdf-author-description {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 30px 0 0;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.mkdf-author-description .mkdf-author-description-inner {
  padding: 35px 0 27px;
  min-height: 134px;
  clear: both;
}

.mkdf-author-description .mkdf-author-description-content {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.mkdf-author-description .mkdf-author-description-image {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 200px;
  height: 134px;
  margin: 0 auto;
  overflow: hidden;
}

.mkdf-author-description .mkdf-author-description-image img {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-author-description .mkdf-author-description-text-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: auto;
  text-align: left;
  padding: 0 0 0 13px;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name {
  margin: 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name a {
  color: #191919;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name a:hover {
  color: #356bf8;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-email {
  margin: 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-text > p:first-child {
  margin: 5px 0 10px;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 15px 0 0;
  font-size: 11px;
  color: #191919;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a:last-child {
  margin: 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a:hover {
  color: #356bf8;
}

/* Single author box styles - end
	====================================================================== */
/* ==========================================================================
   Blog pagination standard style - begin
   ========================================================================== */
.mkdf-blog-pagination-wp {
  display: none;
}

.mkdf-blog-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  clear: both;
}

.mkdf-blog-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.mkdf-blog-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 2px;
}

.mkdf-blog-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  line-height: 48px;
  text-align: center;
  color: #ababab;
  border: 1px solid #dee3eb;
  box-sizing: border-box;
  -webkit-transition: color 0.3s ease, border-color 0.3s ease;
  -moz-transition: color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.mkdf-blog-pagination ul li a:hover, .mkdf-blog-pagination ul li a.mkdf-pag-active {
  color: #356bf8;
  border-color: #356bf8;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev, .mkdf-blog-pagination ul li.mkdf-pag-next, .mkdf-blog-pagination ul li.mkdf-pag-first, .mkdf-blog-pagination ul li.mkdf-pag-last {
  margin: 0;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a span, .mkdf-blog-pagination ul li.mkdf-pag-next a span, .mkdf-blog-pagination ul li.mkdf-pag-first a span, .mkdf-blog-pagination ul li.mkdf-pag-last a span {
  display: block;
  line-height: inherit;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a span:before, .mkdf-blog-pagination ul li.mkdf-pag-next a span:before, .mkdf-blog-pagination ul li.mkdf-pag-first a span:before, .mkdf-blog-pagination ul li.mkdf-pag-last a span:before {
  display: block;
  line-height: inherit;
}

/* ==========================================================================
   Blog pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode pagination standard style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-pag-standard-blog-list .mkdf-blog-list {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-blog-list-holder.mkdf-bl-pag-standard-blog-list.mkdf-bl-pag-standard-blog-list-animate .mkdf-blog-list {
  opacity: 0;
}

.mkdf-bl-standard-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 0;
  clear: both;
}

.mkdf-bl-standard-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.mkdf-bl-standard-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
  padding: 0;
}

.mkdf-bl-standard-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-active a {
  color: #356bf8;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next {
  position: absolute;
  top: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a {
  font-size: 30px;
  -webkit-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  transition: color 0.2s ease-out, opacity 0.2s ease-out;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a span, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a span {
  display: block;
  line-height: inherit;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a span:before, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a span:before {
  display: block;
  line-height: inherit;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev {
  left: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a {
  opacity: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next {
  right: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a {
  opacity: 1;
}

/* ==========================================================================
   Blog List shortcode pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination load more style - begin
   ========================================================================== */
.mkdf-blog-pag-load-more {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 40px 0 30px;
  text-align: center;
}

/* ==========================================================================
   Blog pagination load more style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination loading element style - begin
   ========================================================================== */
.mkdf-blog-pag-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  color: #191919;
  text-align: center;
}

.mkdf-blog-pag-loading.mkdf-standard-pag-trigger {
  position: absolute;
  top: 50px;
  left: 0;
}

.mkdf-blog-pag-loading.mkdf-showing {
  display: block;
}

.mkdf-blog-pag-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #191919;
  border-radius: 100%;
  -webkit-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
}

.mkdf-blog-pag-loading .mkdf-blog-pag-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.mkdf-blog-pag-loading .mkdf-blog-pag-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog pagination loading element style - end
   ========================================================================== */
/* Single posts navigation styles - begin
    ====================================================================== */
.mkdf-blog-single-navigation {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  box-sizing: border-box;
}

.mkdf-blog-single-navigation .mkdf-blog-single-navigation-inner {
  padding: 60px 0 0;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev-holder,
.mkdf-blog-single-navigation .mkdf-blog-single-next-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  float: left;
  width: 50%;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev-holder .mkdf-blog-single-thumb-wrapper,
.mkdf-blog-single-navigation .mkdf-blog-single-prev-holder .mkdf-blog-single-nav-wrapper,
.mkdf-blog-single-navigation .mkdf-blog-single-next-holder .mkdf-blog-single-thumb-wrapper,
.mkdf-blog-single-navigation .mkdf-blog-single-next-holder .mkdf-blog-single-nav-wrapper {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev-holder .mkdf-blog-single-thumb-wrapper,
.mkdf-blog-single-navigation .mkdf-blog-single-next-holder .mkdf-blog-single-thumb-wrapper {
  width: 100px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev-holder .mkdf-blog-single-thumb-wrapper a, .mkdf-blog-single-navigation .mkdf-blog-single-prev-holder .mkdf-blog-single-thumb-wrapper img,
.mkdf-blog-single-navigation .mkdf-blog-single-next-holder .mkdf-blog-single-thumb-wrapper a,
.mkdf-blog-single-navigation .mkdf-blog-single-next-holder .mkdf-blog-single-thumb-wrapper img {
  display: block;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev-holder .mkdf-blog-single-nav-wrapper,
.mkdf-blog-single-navigation .mkdf-blog-single-next-holder .mkdf-blog-single-nav-wrapper {
  width: 100%;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev-holder .mkdf-blog-single-nav-wrapper .mkdf-blog-nav-title,
.mkdf-blog-single-navigation .mkdf-blog-single-next-holder .mkdf-blog-single-nav-wrapper .mkdf-blog-nav-title {
  display: block;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev-holder .mkdf-blog-single-nav-wrapper .mkdf-blog-single-nav-date,
.mkdf-blog-single-navigation .mkdf-blog-single-next-holder .mkdf-blog-single-nav-wrapper .mkdf-blog-single-nav-date {
  display: block;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-style: italic;
  line-height: 1;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev-holder .mkdf-blog-single-nav-wrapper {
  padding: 0 0 0 14px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next-holder {
  text-align: right;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next-holder .mkdf-blog-single-nav-wrapper {
  padding: 0 14px 0 0;
}

.mkdf-single-links-pages {
  clear: both;
  margin: 20px 0 5px;
}

.mkdf-single-links-pages .mkdf-single-links-pages-inner > a,
.mkdf-single-links-pages .mkdf-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 5px 0;
}

/* Single posts navigation styles - end
    ====================================================================== */
/* Related posts styles - begin
	====================================================================== */
.mkdf-related-posts-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  box-sizing: border-box;
}

.mkdf-related-posts-holder .mkdf-related-posts-holder-inner {
  padding: 46px 0 26px;
}

.mkdf-related-posts-holder .mkdf-related-posts-title {
  margin: 0 0 40px;
}

.mkdf-related-posts-holder .mkdf-related-posts-title > * {
  margin: 0;
}

.mkdf-related-posts-holder .mkdf-related-posts-inner {
  margin: 0 -10px;
}

.mkdf-related-posts-holder .mkdf-related-post {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0 0 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.mkdf-content-has-sidebar .mkdf-related-posts-holder .mkdf-related-post {
  widtH: 33.33333333333333%;
}

.touch .mkdf-related-posts-holder .mkdf-related-post {
  cursor: pointer;
}

.mkdf-related-posts-holder .mkdf-related-post:hover .mkdf-related-post-image a:after {
  opacity: 1;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image a {
  position: relative;
  display: block;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  opacity: 0;
  background-color: rgba(25, 25, 25, 0.2);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image img {
  display: block;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-title {
  margin: 15px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0 13px 0 0;
  color: inherit;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:after {
  position: absolute;
  top: 0;
  right: 4px;
  content: '/';
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:last-child {
  padding: 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:last-child:after {
  display: none;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div.mkdf-post-info-author .mkdf-post-author-img {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 1px 0 0;
  overflow: hidden;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div.mkdf-post-info-author .mkdf-post-author-img img {
  display: block;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div.mkdf-post-info-author .mkdf-post-info-author-text {
  margin: 0 3px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div a {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* Related posts styles - end
	====================================================================== */
/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */
.mkdf-blog-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
  /***** Columns Space style - begin *****/
  /***** Columns Space style - end *****/
}

.mkdf-blog-list-holder .mkdf-blog-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mkdf-blog-list-holder .mkdf-bl-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mkdf-blog-list-holder .mkdf-bli-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-list-holder .mkdf-bli-inner:hover .mkdf-post-image a:after {
  opacity: 1;
}

.mkdf-blog-list-holder .mkdf-bli-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 30px 30px 28px;
  box-sizing: border-box;
}

.mkdf-blog-list-holder .mkdf-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
}

.mkdf-blog-list-holder .mkdf-post-image .mkdf-post-info-category {
  position: absolute;
  top: 20px;
  left: 28px;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-style: italic;
  z-index: 2;
}

.mkdf-blog-list-holder .mkdf-post-image .mkdf-post-info-category a {
  color: #fff;
}

.mkdf-blog-list-holder .mkdf-post-image .mkdf-post-info-category a:after {
  display: none;
}

.mkdf-blog-list-holder .mkdf-post-image .mkdf-post-info-category a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.mkdf-blog-list-holder .mkdf-post-image img {
  display: block;
}

.mkdf-blog-list-holder .mkdf-post-image a {
  display: block;
}

.mkdf-blog-list-holder .mkdf-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background: rgba(25, 25, 25, 0.35);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.mkdf-blog-list-holder .mkdf-bli-info-top {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 7px;
  line-height: 1;
}

.mkdf-blog-list-holder .mkdf-bli-info-top .mkdf-post-info-date {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mkdf-blog-list-holder .mkdf-bli-info-top .mkdf-post-info-date a {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  font-style: italic;
  color: #868686;
}

.mkdf-blog-list-holder .mkdf-bli-info-top .mkdf-post-info-date a:hover {
  color: #356bf8;
}

.mkdf-blog-list-holder .mkdf-post-title {
  margin: 0 0 2px;
}

.mkdf-blog-list-holder .mkdf-post-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
}

.mkdf-blog-list-holder .mkdf-post-excerpt p {
  margin: 0;
}

.mkdf-blog-list-holder .mkdf-post-excerpt:after {
  content: '...';
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 26px 0 20px 0;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-bli-info-bottom-left,
.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-bli-info-bottom-right {
  position: relative;
  display: inline-block;
  float: left;
  line-height: 27px;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-bli-info-bottom-left {
  width: 70%;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-bli-info-bottom-left > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "Libre Baskerville", serif;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-bli-info-bottom-right {
  width: 30%;
  text-align: right;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-bli-info-bottom-right > div {
  margin-left: 17px;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-bli-info-bottom-right > div:first-child {
  margin-left: 0;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-post-info-author {
  position: relative;
  display: inline-block;
  margin: 0 15px 0 0;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-post-info-author .mkdf-post-author-img {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-post-info-author a {
  display: inline-block;
  color: #444;
  text-transform: capitalize;
  vertical-align: middle;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-post-info-author a:hover {
  color: #356bf8;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-post-info-comments-holder {
  display: inline-block;
  margin: 0 15px 0 0;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-post-info-comments-holder a {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-post-info-comments-holder a:hover {
  color: #356bf8;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-post-info-comments-holder a span,
.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-post-info-comments-holder a i {
  vertical-align: middle;
  margin: 0 10px 0 0;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-post-read-more-button {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 25px 0 0;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-social-share-holder.mkdf-dropdown .mkdf-social-share-dropdown-opener .mkdf-social-share-title {
  display: none;
}

.mkdf-blog-list-holder .mkdf-bli-info-bottom .mkdf-social-share-holder.mkdf-dropdown .mkdf-social-share-dropdown-opener .social_share {
  color: #cacaca;
}

.mkdf-blog-list-holder.mkdf-bl-no-space .mkdf-bl-wrapper {
  margin: 0;
}

.mkdf-blog-list-holder.mkdf-bl-no-space .mkdf-bl-item {
  padding: 0 0px;
  margin: 0 0 0px;
}

.mkdf-blog-list-holder.mkdf-bl-tiny-space .mkdf-bl-wrapper {
  margin: 0 -5px;
}

.mkdf-blog-list-holder.mkdf-bl-tiny-space .mkdf-bl-item {
  padding: 0 5px;
  margin: 0 0 10px;
}

.mkdf-blog-list-holder.mkdf-bl-small-space .mkdf-bl-wrapper {
  margin: 0 -10px;
}

.mkdf-blog-list-holder.mkdf-bl-small-space .mkdf-bl-item {
  padding: 0 10px;
  margin: 0 0 20px;
}

.mkdf-blog-list-holder.mkdf-bl-normal-space .mkdf-bl-wrapper {
  margin: 0 -15px;
}

.mkdf-blog-list-holder.mkdf-bl-normal-space .mkdf-bl-item {
  padding: 0 15px;
  margin: 0 0 30px;
}

/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Boxed type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-boxed:not(.mkdf-bl-one-column) .mkdf-bl-item {
  float: left;
}

.mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-two-columns .mkdf-bl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-two-columns .mkdf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-three-columns .mkdf-bl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-three-columns .mkdf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-four-columns .mkdf-bl-item {
  width: 25%;
}

@media only screen and (min-width: 1201px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-four-columns .mkdf-bl-item:nth-child(4n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-five-columns .mkdf-bl-item {
  width: 20%;
}

@media only screen and (min-width: 1201px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-five-columns .mkdf-bl-item:nth-child(5n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-boxed .mkdf-post-image {
  margin: 0;
}

.mkdf-blog-list-holder.mkdf-bl-boxed .mkdf-bli-content {
  background-color: #f6f6f6;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);
}

.mkdf-blog-list-holder.mkdf-bl-boxed .mkdf-post-read-more-button {
  margin: 27px 0 0;
}

/* ==========================================================================
   Blog List shortcode - Boxed type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Masonry type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-masonry {
  transition: none !important;
  overflow: visible !important;
  /*** Video Post Format ***/
  /*** Quote Post Format ***/
  /*** Link Post Format ***/
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-blog-list {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-item {
  vertical-align: top;
  z-index: 100;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-grid-sizer {
  width: 100%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-info-date a {
  font-size: 14px;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bli-content {
  padding: 31px 38px 22px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-read-more-button {
  margin: 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-read-more-button a {
  font-family: "Montserrat", sans-serif;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-social-share-holder.mkdf-dropdown .mkdf-social-share-dropdown-opener .mkdf-social-share-title {
  display: none;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-grid-gutter {
  width: 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-image-video {
  position: relative;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 40px 43px 30px;
  box-sizing: border-box;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-video .mkdf-post-title,
.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-video .mkdf-post-excerpt {
  color: #fff;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-video .mkdf-post-excerpt {
  margin: 11px 0 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-video .mkdf-video-post-link {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  margin: 21px 0 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-video .mkdf-video-post-link span {
  vertical-align: middle;
  line-height: 17px;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-video .mkdf-video-post-link span:not(.mkdf-video-link-text) {
  font-size: 16px;
  margin: 0 3px 0 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-quote-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 108px 72px 123px;
  background-color: #ee0034;
  box-sizing: border-box;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-quote-holder .mkdf-post-mark {
  display: block;
  width: 60px;
  height: 54px;
  margin: 0 auto;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-quote-holder .mkdf-post-mark span {
  font-size: 60px;
  color: #fff;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-quote-holder .mkdf-post-quote-holder-inner {
  display: block;
  padding: 0;
  margin: 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-quote-holder .mkdf-post-title {
  color: #fff;
  margin: 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-quote-holder .mkdf-post-title a:hover {
  color: #fff;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-quote-holder .mkdf-quote-author {
  display: block;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  color: #fff;
  margin: 9px 0 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-link-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 129px 72px 129px;
  background-color: #356bf8;
  box-sizing: border-box;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-link-holder .mkdf-post-mark {
  display: block;
  width: 60px;
  margin: 0 auto;
  text-align: center;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-link-holder .mkdf-post-mark span {
  font-size: 60px;
  color: #fff;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-link-holder .mkdf-post-link-holder-inner {
  display: block;
  padding: 0;
  margin: 15px 0 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-link-holder .mkdf-post-title {
  color: #fff;
  margin: 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-post-link-holder .mkdf-post-title a:hover {
  color: #fff;
}

.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-two-columns .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-two-columns .mkdf-bl-grid-sizer {
  width: 50%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns .mkdf-bl-grid-sizer {
  width: 33.33333%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-grid-sizer {
  width: 25%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-grid-sizer {
  width: 20%;
}

/* ==========================================================================
   Blog List shortcode - Masonry type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Minimal type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-post-info-date {
  display: block;
  margin: 0 0 12px;
  line-height: 1;
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-post-info-date a {
  font-size: 13px;
  color: #868686;
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-post-info-date a:hover {
  color: #191919;
}

/* ==========================================================================
   Blog List shortcode - Minimal type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Simple type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-post-image {
  display: table-cell;
  vertical-align: middle;
  width: 67px;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content {
  display: table-cell;
  vertical-align: middle;
  width: auto;
  padding: 0 0 0 13px;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date {
  display: block;
  margin: 2px 0 10px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  line-height: 1;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date a {
  font-size: 12px;
  color: #868686;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date a:hover {
  color: #191919;
}

/* ==========================================================================
   Blog List shortcode - Simple type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Standard type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-standard-simple:not(.mkdf-bl-one-column) .mkdf-bl-item {
  float: left;
}

.mkdf-blog-list-holder.mkdf-bl-standard-simple .mkdf-bli-content {
  padding: 0;
}

.mkdf-blog-list-holder.mkdf-bl-standard-simple .mkdf-bli-info-top {
  margin: 0 0 10px;
}

.mkdf-blog-list-holder.mkdf-bl-standard-simple .mkdf-bli-info-bottom a {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  color: #868686;
}

.mkdf-blog-list-holder.mkdf-bl-standard-simple .mkdf-bli-info-bottom a:hover {
  color: #356bf8;
}

.mkdf-blog-list-holder.mkdf-bl-standard-simple .mkdf-bli-info-bottom {
  padding: 16px 0 20px;
}

.mkdf-blog-list-holder.mkdf-bl-standard-simple .mkdf-bli-info-bottom .mkdf-post-info-author .mkdf-post-author-img {
  margin: 0 10px 0 0;
}

.mkdf-blog-list-holder.mkdf-bl-standard-simple .mkdf-post-info-author-text {
  display: none;
}

.mkdf-blog-list-holder.mkdf-bl-standard-simple.mkdf-bl-two-columns .mkdf-bl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-standard-simple.mkdf-bl-two-columns .mkdf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard-simple.mkdf-bl-three-columns .mkdf-bl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-standard-simple.mkdf-bl-three-columns .mkdf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard-simple.mkdf-bl-four-columns .mkdf-bl-item {
  width: 25%;
}

@media only screen and (min-width: 1201px) {
  .mkdf-blog-list-holder.mkdf-bl-standard-simple.mkdf-bl-four-columns .mkdf-bl-item:nth-child(4n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard-simple.mkdf-bl-five-columns .mkdf-bl-item {
  width: 20%;
}

@media only screen and (min-width: 1201px) {
  .mkdf-blog-list-holder.mkdf-bl-standard-simple.mkdf-bl-five-columns .mkdf-bl-item:nth-child(5n+1) {
    clear: both;
  }
}

/* ==========================================================================
   Blog List shortcode - Standard type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Standard type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-standard:not(.mkdf-bl-one-column) .mkdf-bl-item {
  float: left;
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-no-shadow .mkdf-bli-content {
  padding: 30px 0;
  box-shadow: none;
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-transparent .mkdf-bli-content {
  background-color: transparent;
}

.mkdf-blog-list-holder.mkdf-bl-standard .mkdf-bli-content {
  background-color: #fff;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
}

.mkdf-blog-list-holder.mkdf-bl-standard .mkdf-bli-info-bottom-left > div {
  font-style: italic;
}

.mkdf-blog-list-holder.mkdf-bl-standard .mkdf-bli-info-bottom-left > div a {
  font-style: italic;
  color: #868686;
}

.mkdf-blog-list-holder.mkdf-bl-standard .mkdf-bli-info-bottom-left > div a:hover {
  color: #356bf8;
}

.mkdf-blog-list-holder.mkdf-bl-standard .mkdf-post-read-more-button {
  margin: 27px 0 0;
}

.mkdf-blog-list-holder.mkdf-bl-standard .mkdf-blog-share {
  line-height: 40px;
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-two-columns .mkdf-bl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-two-columns .mkdf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-three-columns .mkdf-bl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-three-columns .mkdf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item {
  width: 25%;
}

@media only screen and (min-width: 1201px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item:nth-child(4n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item {
  width: 20%;
}

@media only screen and (min-width: 1201px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item:nth-child(5n+1) {
    clear: both;
  }
}

/* ==========================================================================
   Blog List shortcode - Standard type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List loading element style - begin
   ========================================================================== */
.mkdf-bl-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  text-align: center;
}

.mkdf-bl-loading.mkdf-showing {
  display: block;
}

.mkdf-bl-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #191919;
  border-radius: 100%;
  -webkit-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-bouncedelay 1.4s infinite ease-in-out both;
}

.mkdf-bl-loading .mkdf-bl-loading-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.mkdf-bl-loading .mkdf-bl-loading-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog List loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog Slider shortcode style - begin
   ========================================================================== */
.mkdf-blog-slider-holder .mkdf-blog-slider-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style-type: none;
  text-align: center;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-item-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-item-image:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: rgba(25, 25, 25, 0.25);
  opacity: 0;
  -webkit-transition: opacity 0.45s ease-out;
  -moz-transition: opacity 0.45s ease-out;
  transition: opacity 0.45s ease-out;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-item-text-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.45s ease-out;
  -moz-transition: opacity 0.45s ease-out;
  transition: opacity 0.45s ease-out;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-item-text-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-item-text-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 0 5%;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-item-info-section {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 2px;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-item-info-section > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 8px;
  margin-right: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-item-info-section > div a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-item-info-section > div a:hover {
  color: #356bf8;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-item-info-section > div:after {
  content: "/";
  position: absolute;
  top: 0;
  right: -2px;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-item-info-section > div:last-child {
  padding-right: 0;
  margin-right: 0;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-item-info-section > div:last-child:after {
  content: '';
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-post-title {
  margin: 0;
  color: #fff;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-section-button-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 5px 0 0;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-section-button-holder a {
  color: #fff;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item .mkdf-section-button-holder a:hover {
  color: #356bf8 !important;
}

.mkdf-blog-slider-holder .active.center .mkdf-blog-slider-item .mkdf-item-image:after,
.mkdf-blog-slider-holder .active.center .mkdf-blog-slider-item .mkdf-item-text-wrapper {
  opacity: 1;
}

/* ==========================================================================
   Blog Slider shortcode style - end
   ========================================================================== */
/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-single article {
  margin: 0 0 30px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-title {
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-top .mkdf-post-info-date a {
  font-size: 14px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-content {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-text {
  padding: 25px 33px 55px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-top {
  margin: 0 0 1px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 24px 0 14px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: "Libre Baskerville", serif;
  line-height: 41px;
  font-style: italic;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom > div .mkdf-icon-font-elegant {
  position: relative;
  top: -1px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom > div a {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  font-style: inherit;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom > div a:hover {
  color: #356bf8;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-author {
  margin: 0 15px 0 0;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-author .mkdf-post-author-img {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 7px 0 0;
  overflow: hidden;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-author span {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-comments-holder {
  margin: 0 15px 0 0;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-comments-holder a {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-comments-holder a:hover {
  color: #356bf8;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-comments-holder a span,
.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-comments-holder a i {
  vertical-align: middle;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-post-info-category {
  margin: 0 15px 0 0;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-tags-holder span,
.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-tags-holder div {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-blog-share {
  line-height: 40px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-social-share-holder.mkdf-dropdown .mkdf-social-share-dropdown-opener .mkdf-social-share-title {
  display: none;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom .mkdf-social-share-holder.mkdf-dropdown .mkdf-social-share-dropdown-opener .social_share {
  color: #cacaca;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 53px 0 6px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info .mkdf-post-info-left,
.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info .mkdf-post-info-right {
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info .mkdf-post-info-right {
  text-align: right;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info .mkdf-post-info-right .mkdf-blog-share .mkdf-share-label {
  display: inline-block;
  vertical-align: middle;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-style: italic;
  margin: 0 15px 0 0;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info .mkdf-tags a {
  display: inline-block;
  padding: 4px 20px;
  border: 1px solid #d8d8d8;
  margin: 0 5px 7px 0;
  color: #8d8d8d;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  -webkit-transition: all 0.23s;
  -moz-transition: all 0.23s;
  transition: all 0.23s;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info .mkdf-tags a:hover {
  background-color: #356bf8;
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-link-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 55px 10px 50px 37px;
  background-color: #356bf8;
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-mark {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 60px;
  vertical-align: middle;
  text-align: center;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-mark span {
  font-size: 60px;
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-link-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: middle;
  padding: 0 0 0 31px;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-title {
  color: #fff;
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-title a:hover {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-quote-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 54px 10px 52px 37px;
  background-color: #ee0034;
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-mark {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 50px;
  vertical-align: top;
  text-align: left;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-mark span {
  font-size: 60px;
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-quote-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: middle;
  padding: 0 0 0 37px;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-title {
  color: #fff;
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-title a:hover {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-quote-author {
  display: block;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  color: #fff;
  margin: 9px 0 0;
}

.mkdf-blog-holder.mkdf-blog-single article.format-audio .mkdf-post-heading {
  position: relative;
}

.mkdf-blog-holder.mkdf-blog-single article.format-audio .mkdf-blog-audio-holder iframe {
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-info-top, .mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-info-top {
  margin: 0 0 15px;
}

/* ==========================================================================
   Blog Single style - end
   ========================================================================== */
/* ==========================================================================
   Blog styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/blog-map.css.map */
