/* ==========================================================================
   Side area styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
# Side area style - begin
========================================================================== */
.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener,
.mkdf-light-header .mkdf-top-bar .mkdf-side-menu-button-opener {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener.opened, .mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener:hover,
.mkdf-light-header .mkdf-top-bar .mkdf-side-menu-button-opener.opened,
.mkdf-light-header .mkdf-top-bar .mkdf-side-menu-button-opener:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener,
.mkdf-dark-header .mkdf-top-bar .mkdf-side-menu-button-opener {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener.opened, .mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener:hover,
.mkdf-dark-header .mkdf-top-bar .mkdf-side-menu-button-opener.opened,
.mkdf-dark-header .mkdf-top-bar .mkdf-side-menu-button-opener:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

.mkdf-side-menu-button-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-side-menu-button-opener .mkdf-side-menu-title {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0 0;
  color: currentColor;
}

.mkdf-side-menu-button-opener .mkdf-fm-lines {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 9px;
}

.mkdf-side-menu-button-opener .mkdf-fm-lines .mkdf-fm-line {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: currentColor;
  border-radius: 12px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.mkdf-side-menu-button-opener .mkdf-fm-lines .mkdf-fm-line.mkdf-line-1 {
  top: 0;
  outline: transparent solid 1px;
}

.mkdf-side-menu-button-opener .mkdf-fm-lines .mkdf-fm-line.mkdf-line-2 {
  top: 50%;
  outline: transparent solid 1px;
}

.mkdf-side-menu-button-opener .mkdf-fm-lines .mkdf-fm-line.mkdf-line-3 {
  top: calc(100% + 1px);
  outline: transparent solid 1px;
}

.mkdf-side-menu-button-opener.opened .mkdf-fm-lines .mkdf-fm-line, .mkdf-side-menu-button-opener:hover .mkdf-fm-lines .mkdf-fm-line {
  width: 100%;
}

.mkdf-side-menu {
  position: fixed;
  top: 0;
  right: -405px;
  width: 405px;
  height: 100%;
  min-height: 100%;
  padding: 66px 65px 36px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.04);
  z-index: 9999;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.mkdf-side-menu .mkdf-close-side-menu-holder {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 1000;
}

.admin-bar .mkdf-side-menu .mkdf-close-side-menu-holder {
  top: 49px;
}

.mkdf-side-menu a.mkdf-close-side-menu {
  display: block;
  color: #191919;
  font-size: 26px;
  z-index: 1000;
}

.mkdf-side-menu a.mkdf-close-side-menu:hover {
  color: #868686;
}

.mkdf-side-menu a.mkdf-close-side-menu span {
  display: block;
  line-height: inherit;
}

.mkdf-side-menu a.mkdf-close-side-menu span:before {
  display: block;
  line-height: inherit;
}

.mkdf-side-menu .mkdf-sidearea-bottom {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: calc(100% - 80px);
  margin: 0;
  text-align: center;
}

.mkdf-side-menu-slide-from-right.mkdf-right-side-menu-opened .mkdf-wrapper .mkdf-cover {
  display: block;
  z-index: 3000;
}

.mkdf-side-menu-slide-from-right.mkdf-right-side-menu-opened .mkdf-side-menu {
  right: 0;
  visibility: visible;
}

.mkdf-side-menu-slide-from-right .mkdf-wrapper .mkdf-cover {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
}

/* ==========================================================================
# Side area style - end
========================================================================== */
/* ==========================================================================
   Side area styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/sidearea-map.css.map */
