/* ==========================================================================
   Title styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
   Title style - begin
   ========================================================================== */
.mkdf-title-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 240px;
  background-color: #f6f6f6;
  background-position: center 0;
  background-repeat: no-repeat;
  z-index: 101;
}

.mkdf-title-holder.mkdf-bg-responsive {
  height: auto !important;
}

.mkdf-title-holder.mkdf-bg-responsive .mkdf-title-image {
  display: block;
}

.mkdf-title-holder.mkdf-bg-responsive .mkdf-title-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-title-holder.mkdf-bg-parallax {
  background-attachment: fixed;
}

.mkdf-title-holder .mkdf-title-image {
  display: none;
}

.mkdf-title-holder .mkdf-title-image img {
  display: block;
  width: 100%;
}

.mkdf-title-holder .mkdf-title-wrapper {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.mkdf-title-holder .mkdf-title-wrapper .mkdf-page-title {
  position: relative;
  padding: 0 0 30px;
}

.mkdf-title-holder .mkdf-title-wrapper .mkdf-page-title .mkdf-title-separator {
  position: absolute;
  display: block;
  bottom: 0;
  width: 123px;
  border-bottom: 3px solid #2d2d2d;
}

.mkdf-title-holder .mkdf-title-wrapper .mkdf-page-subtitle {
  font-size: 18px;
  line-height: 30px;
  margin: 26px 0 0;
}

.mkdf-title-holder .mkdf-title-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

/* ==========================================================================
   Title style - end
   ========================================================================== */
/* ==========================================================================
   Breadcrumbs Title type style - begin
   ========================================================================== */
.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  color: #868686;
}

.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs.mkdf-has-inline-style a {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs.mkdf-has-inline-style a:hover {
  color: inherit;
  opacity: 0.9;
}

.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs a,
.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
}

.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs .mkdf-delimiter {
  margin: 0 2px;
}

.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs a:hover {
  color: #191919;
}

/* ==========================================================================
   Breadcrumbs Title type style - end
   ========================================================================== */
/* ==========================================================================
   Centered Title type style - begin
   ========================================================================== */
.mkdf-title-holder.mkdf-centered-type .mkdf-title-inner {
  text-align: center;
}

.mkdf-title-holder.mkdf-centered-type .mkdf-page-tagline {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-style: italic;
}

.mkdf-title-holder.mkdf-centered-type .mkdf-page-title {
  margin: 0;
}

.mkdf-title-holder.mkdf-centered-type .mkdf-page-title .mkdf-title-separator {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mkdf-title-holder.mkdf-centered-type .mkdf-page-subtitle {
  display: block;
  box-sizing: border-box;
}

/* ==========================================================================
   Centered Title type style - end
   ========================================================================== */
/* ==========================================================================
   Standard Title type style - begin
   ========================================================================== */
.mkdf-title-holder.mkdf-standard-type .mkdf-page-tagline {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-style: italic;
}

.mkdf-title-holder.mkdf-standard-type .mkdf-page-title {
  margin: 0;
}

/* ==========================================================================
   Standard Title type style - end
   ========================================================================== */
/* ==========================================================================
   Title styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/title-map.css.map */
