/* ==========================================================================
   Title responsive styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
   Title responsive style - begin
   ========================================================================== */
@media only screen and (min-width: 1024px) {
  .mkdf-title-holder.mkdf-title-predefined-size .mkdf-page-title {
    font-size: 80px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkdf-title-holder.mkdf-has-bg-image {
    height: auto !important;
    padding: 0 !important;
    background-image: none !important;
  }
  .mkdf-title-holder.mkdf-has-bg-image .mkdf-title-image {
    display: block;
  }
  .mkdf-title-holder.mkdf-has-bg-image .mkdf-title-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100% !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .mkdf-title-holder .mkdf-page-subtitle {
    padding: 0 !important;
    /* important to override inline style from option */
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-title-holder .mkdf-page-subtitle {
    display: none;
  }
}

/* ==========================================================================
   Title responsive style - end
   ========================================================================== */
/* ==========================================================================
   Centered Title type responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .mkdf-title-holder.mkdf-centered-type .mkdf-page-subtitle {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  .mkdf-title-holder.mkdf-centered-type .mkdf-page-subtitle {
    display: none;
  }
}

/* ==========================================================================
   Centered Title type responsive style - end
   ========================================================================== */
/* ==========================================================================
   Title responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/title-map-responsive.css.map */
