/* ==========================================================================
   Header styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
   Header styles - begin
   ========================================================================== */
.mkdf-page-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  box-sizing: border-box;
  /* ==========================================================================
    #General header layout - start
    ========================================================================== */
  /* ==========================================================================
    #General header layout - end
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - start
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - end
    ========================================================================== */
}

.mkdf-page-header a img {
  display: block;
}

.mkdf-page-header p {
  margin: 0;
}

.mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0 38px;
}

.mkdf-page-header .mkdf-grid {
  height: 100%;
}

.mkdf-page-header .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.mkdf-page-header .mkdf-logo-area {
  position: relative;
  height: 90px;
  overflow: hidden;
  background-color: #fff;
}

.mkdf-page-header .mkdf-logo-area .mkdf-logo-wrapper a {
  max-height: 90px;
}

.mkdf-page-header .mkdf-menu-area {
  position: relative;
  height: 90px;
  background-color: #fff;
  box-sizing: border-box;
}

.mkdf-boxed .mkdf-page-header .mkdf-menu-area {
  padding: 0;
}

.mkdf-page-header .mkdf-menu-area .mkdf-logo-wrapper a {
  max-height: 90px;
}

.mkdf-page-header .mkdf-menu-area .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.mkdf-logo-area-border-disable .mkdf-page-header .mkdf-logo-area {
  border: none;
}

.mkdf-logo-area-in-grid-border-disable .mkdf-page-header .mkdf-logo-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-logo-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area {
  box-shadow: none;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  box-shadow: none;
}

.mkdf-menu-area-border-disable .mkdf-page-header .mkdf-menu-area {
  border: none;
}

.mkdf-menu-area-in-grid-border-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

/* ==========================================================================
#Light header - begin
========================================================================== */
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 1;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 0;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* ==========================================================================
#Light header - end
========================================================================== */
/* ==========================================================================
#Dark header - begin
========================================================================== */
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 1;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 0;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

/* ==========================================================================
#Dark header - end
========================================================================== */
/* ==========================================================================
   Header end - end
   ========================================================================== */
/* ==========================================================================
   Header styles - begin
   ========================================================================== */
.mkdf-page-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  box-sizing: border-box;
  /* ==========================================================================
    #General header layout - start
    ========================================================================== */
  /* ==========================================================================
    #General header layout - end
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - start
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - end
    ========================================================================== */
}

.mkdf-page-header a img {
  display: block;
}

.mkdf-page-header p {
  margin: 0;
}

.mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0 38px;
}

.mkdf-page-header .mkdf-grid {
  height: 100%;
}

.mkdf-page-header .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.mkdf-page-header .mkdf-logo-area {
  position: relative;
  height: 90px;
  overflow: hidden;
  background-color: #fff;
}

.mkdf-page-header .mkdf-logo-area .mkdf-logo-wrapper a {
  max-height: 90px;
}

.mkdf-page-header .mkdf-menu-area {
  position: relative;
  height: 90px;
  background-color: #fff;
  box-sizing: border-box;
}

.mkdf-boxed .mkdf-page-header .mkdf-menu-area {
  padding: 0;
}

.mkdf-page-header .mkdf-menu-area .mkdf-logo-wrapper a {
  max-height: 90px;
}

.mkdf-page-header .mkdf-menu-area .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.mkdf-logo-area-border-disable .mkdf-page-header .mkdf-logo-area {
  border: none;
}

.mkdf-logo-area-in-grid-border-disable .mkdf-page-header .mkdf-logo-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-logo-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area {
  box-shadow: none;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  box-shadow: none;
}

.mkdf-menu-area-border-disable .mkdf-page-header .mkdf-menu-area {
  border: none;
}

.mkdf-menu-area-in-grid-border-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

/* ==========================================================================
#Light header - begin
========================================================================== */
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 1;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 0;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* ==========================================================================
#Light header - end
========================================================================== */
/* ==========================================================================
#Dark header - begin
========================================================================== */
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 1;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 0;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

/* ==========================================================================
#Dark header - end
========================================================================== */
/* ==========================================================================
   Header end - end
   ========================================================================== */
/* ==========================================================================
   Header logo styles - begin
   ========================================================================== */
.mkdf-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-logo-wrapper a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.mkdf-logo-wrapper a img {
  height: 100%;
  width: auto;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.mkdf-logo-wrapper a img.mkdf-normal-logo {
  opacity: 1;
}

.mkdf-logo-wrapper a img.mkdf-dark-logo {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.mkdf-logo-wrapper a img.mkdf-light-logo {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* ==========================================================================
   Header logo styles - end
   ========================================================================== */
/* ==========================================================================
   Header main menu style - begin
   ========================================================================== */
.mkdf-main-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.mkdf-main-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.mkdf-main-menu ul li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mkdf-main-menu ul li a {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #868686;
}

.mkdf-main-menu ul li a > span.item_outer {
  position: relative;
}

.mkdf-main-menu ul li a > span.item_outer:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 2px solid #ee0034;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.mkdf-main-menu ul li a .menu_icon_wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon {
  position: relative;
  top: -4px;
  left: 5px;
  color: currentColor;
  font-size: 10px;
  margin: 0;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon:before {
  margin: 0;
}

.mkdf-main-menu > ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.mkdf-main-menu > ul > li {
  float: left;
  height: 100%;
  perspective: 1000px;
}

.mkdf-main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  padding: 0 19px;
  color: #191919;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  box-sizing: border-box;
  -webkit-transition: padding 0.25s ease;
  -moz-transition: padding 0.25s ease;
  transition: padding 0.25s ease;
}

.mkdf-main-menu > ul > li > a:hover {
  padding: 0 17px 0 21px;
  color: #191919;
}

.mkdf-main-menu > ul > li > a:hover > span.item_outer:before {
  width: 10px;
}

.mkdf-main-menu > ul > li > a > span.item_outer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-main-menu > ul > li > a > span.item_outer:before {
  left: -14px;
}

.mkdf-main-menu > ul > li > a > span.item_outer .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mkdf-main-menu > ul > li.mkdf-active-item > a {
  padding: 0 17px 0 21px;
  color: #191919;
}

.mkdf-main-menu > ul > li.mkdf-active-item > a > span.item_outer:before {
  width: 10px;
}

.mkdf-main-menu > ul > li.has_sub > a .mkdf-menu-arrow {
  display: none;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a {
  color: #fff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a:hover {
  color: #fff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: #fff;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a {
  color: #000;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a:hover {
  color: #000;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: #000;
}

/* Narrow drop down styles
   ========================================================================== */
.mkdf-drop-down .second {
  position: absolute;
  display: block;
  top: 100%;
  left: -19px;
  margin: 0;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: top 0.15s ease-out;
  -moz-transition: top 0.15s ease-out;
  transition: top 0.15s ease-out;
}

.mkdf-drop-down .second.mkdf-drop-down-start {
  visibility: visible;
  overflow: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-drop-down .second.right {
  right: -22px;
  left: auto;
}

.mkdf-drop-down .second .inner {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
}

.mkdf-drop-down .second .inner ul li {
  display: block;
  padding: 0 15px;
  position: relative;
  float: none;
  height: auto;
  background: 0;
  -webkit-transition: background-color 0.15s ease-out;
  -moz-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}

.mkdf-drop-down .second .inner ul li .widget {
  width: 100%;
  margin: 0 !important;
}

.mkdf-drop-down .second .inner ul li a {
  display: block;
  height: auto;
  line-height: 18px;
  font-weight: 400;
  padding: 7px 30px 6px 19px;
}

.mkdf-drop-down .second .inner ul li a:hover {
  color: #ee0034;
}

.mkdf-drop-down .second .inner ul li a:hover .item_outer {
  padding: 0 0 0 14px;
}

.mkdf-drop-down .second .inner ul li a:hover .item_outer:before {
  width: 10px;
}

.mkdf-drop-down .second .inner ul li a .item_outer {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 14px 0 0;
  box-sizing: border-box;
  -webkit-transition: padding 0.25s ease;
  -moz-transition: padding 0.25s ease;
  transition: padding 0.25s ease;
}

.mkdf-drop-down .second .inner ul li.current-menu-ancestor > a,
.mkdf-drop-down .second .inner ul li.current-menu-item > a {
  color: #ee0034;
}

.mkdf-drop-down .second .inner ul li.current-menu-ancestor > a .item_outer,
.mkdf-drop-down .second .inner ul li.current-menu-item > a .item_outer {
  padding: 0 0 0 14px;
}

.mkdf-drop-down .second .inner ul li.current-menu-ancestor > a .item_outer:before,
.mkdf-drop-down .second .inner ul li.current-menu-item > a .item_outer:before {
  width: 10px;
}

.mkdf-drop-down .second .inner ul li.sub > a:after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: calc(50% - 9px);
  right: 14px;
  content: '\e04b';
  font-family: 'linea-arrows-10';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mkdf-drop-down .second .inner ul.right li a {
  padding: 7px 21px 6px 19px;
}

.mkdf-drop-down .second .inner ul.right li a:hover .item_outer {
  padding: 0 14px 0 0;
}

.mkdf-drop-down .second .inner ul.right li a:hover .item_outer:before {
  width: 10px;
}

.mkdf-drop-down .second .inner ul.right li a .item_outer {
  padding: 0 0 0 14px;
}

.mkdf-drop-down .second .inner ul.right li a .item_outer:before {
  left: auto;
  right: 0;
}

.mkdf-drop-down .second .inner ul.right li.current-menu-ancestor > a .item_outer,
.mkdf-drop-down .second .inner ul.right li.current-menu-item > a .item_outer {
  padding: 0 14px 0 0;
}

.mkdf-drop-down .second .inner ul.right li.current-menu-ancestor > a .item_outer:before,
.mkdf-drop-down .second .inner ul.right li.current-menu-item > a .item_outer:before {
  width: 10px;
}

.mkdf-drop-down .second .inner ul.right li.sub > a:after {
  right: auto;
  left: 14px;
  content: "\e03f";
}

.mkdf-drop-down .second .inner ul.right li a {
  text-align: right;
}

.mkdf-drop-down .second .inner ul.right li ul {
  left: -100%;
}

.mkdf-drop-down li.left_position .second {
  left: 0;
}

.mkdf-drop-down li.right_position .second {
  left: auto;
  right: 0;
}

.mkdf-drop-down > ul > li:hover > .second {
  z-index: 20;
}

.mkdf-drop-down .narrow .second .inner ul {
  position: relative;
  display: inline-block;
  padding: 23px 0;
  background-color: #fff;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.mkdf-drop-down .narrow .second .inner ul li {
  width: 230px;
}

.mkdf-drop-down .narrow .second .inner ul li ul {
  position: absolute;
  left: 100%;
  top: -23px;
  /* same as padding in father ul, minus 1px for border */
  height: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.mkdf-drop-down .narrow .second .inner ul li:hover ul {
  z-index: 20;
  opacity: 1;
}

.mkdf-drop-down .narrow .second .inner ul.right li ul {
  left: -100%;
}

/* Wide drop down styles
   ========================================================================== */
.mkdf-drop-down .wide .second .inner {
  background-color: #fff;
  text-align: center;
}

.mkdf-drop-down .wide .second .inner ul li a {
  padding: 9px 0;
}

.mkdf-drop-down .wide .second .inner ul li ul {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  visibility: visible;
}

.mkdf-drop-down .wide .second .inner ul li ul li:last-child a {
  padding-bottom: 0;
}

.mkdf-drop-down .wide .second .inner > ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1100px;
  padding: 40px 0 41px;
  box-sizing: border-box;
}

@media only screen and (min-width: 1400px) {
  .mkdf-grid-1300 .mkdf-drop-down .wide .second .inner > ul {
    width: 1300px;
  }
}

@media only screen and (min-width: 1300px) {
  .mkdf-grid-1200 .mkdf-drop-down .wide .second .inner > ul {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .mkdf-grid-1000 .mkdf-drop-down .wide .second .inner > ul {
    width: 1000px;
  }
}

@media only screen and (min-width: 1024px) {
  .mkdf-grid-800 .mkdf-drop-down .wide .second .inner > ul {
    width: 800px;
  }
}

.mkdf-drop-down .wide .second .inner > ul > li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 26px;
}

.mkdf-drop-down .wide .second .inner > ul > li:nth-child(4n+1) {
  clear: both;
}

.mkdf-drop-down .wide .second .inner > ul > li > a {
  padding: 0 15px 11px;
  color: #444;
  font-size: 15px;
  font-weight: 600;
  line-height: 33px;
}

.mkdf-drop-down .wide .second .inner > ul > li > a:after {
  display: none;
}

.mkdf-drop-down .wide .second .inner > ul > li > a.no_link {
  cursor: default;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer {
  padding: 0;
  overflow: inherit;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer:before {
  display: none;
}

.mkdf-drop-down .wide.left_position .second .inner > ul, .mkdf-drop-down .wide.right_position .second .inner > ul {
  width: auto;
  white-space: nowrap;
}

.mkdf-drop-down .wide.left_position .second .inner > ul > li, .mkdf-drop-down .wide.right_position .second .inner > ul > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.mkdf-drop-down .wide.left_position .second .inner > ul > li:nth-child(4n+1), .mkdf-drop-down .wide.right_position .second .inner > ul > li:nth-child(4n+1) {
  border-left: none;
}

.mkdf-drop-down .wide.left_position .second ul li, .mkdf-drop-down .wide.right_position .second ul li {
  width: 230px;
}

/* ==========================================================================
   Header main menu style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header style - begin
   ========================================================================== */
.mkdf-page-header .mkdf-fixed-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.admin-bar .mkdf-page-header .mkdf-fixed-wrapper.fixed {
  margin-top: 32px;
}

.mkdf-page-header .mkdf-fixed-wrapper.fixed .mkdf-menu-area {
  background-color: #fff;
}

.mkdf-fixed-on-scroll .mkdf-page-header .mkdf-fixed-wrapper .mkdf-menu-area {
  -webkit-transition: height 0.2s ease;
  -moz-transition: height 0.2s ease;
  transition: height 0.2s ease;
}

.mkdf-paspartu-enabled .mkdf-page-header .mkdf-fixed-wrapper.fixed {
  top: 43px;
  padding-left: 43px;
  padding-right: 43px;
  box-sizing: border-box;
}

/* ==========================================================================
   Fixed header style - end
   ========================================================================== */
/* ==========================================================================
   Header Box style - begin
   ========================================================================== */
.mkdf-header-box .mkdf-top-bar {
  height: 55px;
  background-color: transparent;
}

.mkdf-header-box .mkdf-page-header .mkdf-menu-area {
  height: 100px;
  background-color: transparent;
}

.mkdf-header-box .mkdf-page-header .mkdf-menu-area .mkdf-logo-wrapper a {
  max-height: 100px;
}

.mkdf-header-box .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0 38px;
  background-color: #fff;
  box-sizing: border-box;
}

.mkdf-header-box .mkdf-page-header .mkdf-menu-area .mkdf-position-right-inner {
  height: 100%;
}

.mkdf-header-box .mkdf-page-header .mkdf-menu-area .mkdf-main-menu > ul > li > a {
  padding: 0 16px;
}

.mkdf-header-box .mkdf-drop-down .wide .second > .inner > ul {
  width: 1170px;
}

.mkdf-header-box.mkdf-grid-1000 .mkdf-drop-down .wide .second > .inner > ul {
  width: 1070px;
}

.mkdf-header-box.mkdf-grid-800 .mkdf-drop-down .wide .second > .inner > ul {
  width: 870px;
}

@media only screen and (min-width: 1400px) {
  .mkdf-header-box.mkdf-grid-1300 .mkdf-drop-down .wide .second > .inner > ul {
    width: 1370px;
  }
}

@media only screen and (min-width: 1300px) {
  .mkdf-header-box.mkdf-grid-1200 .mkdf-drop-down .wide .second > .inner > ul {
    width: 1270px;
  }
}

/* ==========================================================================
   Header Box style - end
   ========================================================================== */
/* ==========================================================================
   Header Centered style - begin
   ========================================================================== */
.mkdf-header-centered .mkdf-page-header .mkdf-logo-area {
  height: 110px;
  overflow: visible;
  z-index: 2;
  box-sizing: border-box;
}

.mkdf-header-centered .mkdf-page-header .mkdf-logo-area .mkdf-logo-wrapper a {
  max-height: 110px;
}

.mkdf-header-centered .mkdf-page-header .mkdf-menu-area {
  height: 60px;
  z-index: 1;
}

.mkdf-header-centered .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-header-centered .mkdf-page-header .mkdf-sticky-header .mkdf-position-left-inner {
  height: auto;
}

.mkdf-header-centered .mkdf-page-header .mkdf-sticky-header .mkdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Centered style - end
   ========================================================================== */
/* ==========================================================================
# Fullscreen menu style - begin
========================================================================== */
.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener {
  color: #000;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener:hover, .mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener.mkdf-fm-opened {
  color: rgba(0, 0, 0, 0.8);
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener {
  color: #fff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener:hover, .mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener.mkdf-fm-opened {
  color: rgba(255, 255, 255, 0.8);
}

.mkdf-fullscreen-menu-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 20px;
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines .mkdf-fm-line {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: currentColor;
  border-radius: 12px;
  outline: transparent solid 1px;
  -webkit-transform: scaleX(0.78);
  -moz-transform: scaleX(0.78);
  transform: scaleX(0.78);
  -webkit-transition: -webkit-transform .1s, left .2s, right .2s;
  transition: transform .1s, left .2s, right .2s;
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines .mkdf-fm-line.mkdf-line-1 {
  top: 0;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines .mkdf-fm-line.mkdf-line-2 {
  top: calc(50% + 1px);
  left: auto;
  right: 0;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines .mkdf-fm-line.mkdf-line-3 {
  top: calc(100% + 1px);
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines:before, .mkdf-fullscreen-menu-opener .mkdf-fm-lines:after {
  content: '';
  position: absolute;
  left: 0;
  height: 0;
  width: 3px;
  background-color: currentColor;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  opacity: 0;
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines:before {
  top: -1px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines:after {
  bottom: -1px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mkdf-fullscreen-menu-opener:hover:not(.mkdf-fm-opened) .mkdf-fm-lines .mkdf-fm-line {
  width: 100%;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.6, 0.01, 0, 3.58);
  transition: transform 0.4s cubic-bezier(0.6, 0.01, 0, 3.58);
}

.mkdf-fullscreen-menu-opener:hover:not(.mkdf-fm-opened) .mkdf-fm-lines .mkdf-fm-line.mkdf-line-2 {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.mkdf-fullscreen-menu-opener:hover:not(.mkdf-fm-opened) .mkdf-fm-lines .mkdf-fm-line.mkdf-line-3 {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened {
  color: #fff;
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened:hover {
  color: #356bf8;
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened .mkdf-fm-lines {
  width: 25px;
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened .mkdf-fm-lines .mkdf-fm-line {
  visibility: hidden;
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened .mkdf-fm-lines:before {
  opacity: 1;
  height: 100%;
  -webkit-transition: height 0.4s cubic-bezier(0.6, 0.01, 0, 1.7) 0.1s;
  -moz-transition: height 0.4s cubic-bezier(0.6, 0.01, 0, 1.7) 0.1s;
  transition: height 0.4s cubic-bezier(0.6, 0.01, 0, 1.7) 0.1s;
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened .mkdf-fm-lines:after {
  opacity: 1;
  height: 100%;
  -webkit-transition: height 0.4s cubic-bezier(0.6, 0.01, 0, 1.7) 0.15s;
  -moz-transition: height 0.4s cubic-bezier(0.6, 0.01, 0, 1.7) 0.15s;
  transition: height 0.4s cubic-bezier(0.6, 0.01, 0, 1.7) 0.15s;
}

.mkdf-fullscreen-menu-opened .mkdf-page-header,
.mkdf-fullscreen-menu-opened .mkdf-mobile-header,
.mkdf-fullscreen-menu-opened .mkdf-top-bar {
  visibility: hidden;
}

.mkdf-fullscreen-menu-opened .mkdf-fullscreen-menu-opener {
  visibility: visible;
}

.mkdf-fullscreen-menu-opened .mkdf-fullscreen-menu-holder-outer {
  visibility: visible !important;
  opacity: 1 !important;
}

.mkdf-fullscreen-menu-holder-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.26s ease-in;
  -moz-transition: opacity 0.26s ease-in;
  transition: opacity 0.26s ease-in;
  z-index: 105;
  /* this has to be between header z-index and content z-index */
}

.mkdf-fullscreen-menu-holder {
  width: 100%;
  height: 100%;
  background-color: #191919;
  display: table;
  background-repeat: repeat;
  background-position: 0 0;
}

.mkdf-fullscreen-menu-holder-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 127px;
}

@media only screen and (max-width: 1024px) {
  .mkdf-fullscreen-menu-holder-inner {
    padding: 0 0 57px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-fullscreen-menu-holder-inner {
    padding: 30px 0;
  }
}

.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-top {
  color: #fff;
  margin: 0 0 101px;
}

@media only screen and (max-width: 1280px) {
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-top {
    margin: 0 0 60px;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-top {
    margin: 0 0 40px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-top {
    margin: 0 0 20px;
  }
}

.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-top .mkdf-fullscreen-tagline {
  margin: 0;
  color: inherit;
}

.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-top .mkdf-fullscreen-title {
  display: block;
  font-size: 70px;
  font-weight: 700;
  line-height: 76px;
  color: inherit;
}

@media only screen and (max-width: 1280px) {
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-top .mkdf-fullscreen-title {
    font-size: 56px;
    line-height: 1.3em;
  }
}

@media only screen and (max-width: 768px) {
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-top .mkdf-fullscreen-title {
    font-size: 46px;
  }
}

@media only screen and (max-width: 680px) {
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-top .mkdf-fullscreen-title {
    font-size: 36px;
  }
}

.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
}

.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom.mkdf-full-width-bottom,
.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-container-inner {
  border-top: 1px solid #5b5b5b;
  padding: 40px 0;
}

.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom:not(.mkdf-full-width-bottom) {
  text-align: center;
}

.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-container-inner {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-left,
.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-right {
  width: 50%;
}

.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-left p, .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-left div, .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-left i, .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-left span, .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-left a,
.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-right p,
.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-right div,
.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-right i,
.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-right span,
.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-right a {
  color: inherit;
}

.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-left .widget_text,
.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-right .widget_text {
  display: inline-block;
}

.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-left {
  float: left;
  text-align: left;
}

.mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-right {
  float: right;
  text-align: right;
}

@media only screen and (max-width: 680px) {
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom {
    position: relative;
    margin: 30px 0 0;
  }
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom.mkdf-full-width-bottom,
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-container-inner {
    padding: 20px 0 0;
  }
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-left,
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-right {
    width: 100%;
    float: none !important;
    text-align: left !important;
  }
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-left p,
  .mkdf-fullscreen-menu-holder-inner .mkdf-fullscreen-menu-bottom .mkdf-fullscreen-below-menu-widget-holder-right p {
    margin: 0;
  }
}

.touch .mkdf-fullscreen-menu-holder-outer {
  display: none;
}

.touch .mkdf-fullscreen-menu-opened .mkdf-fullscreen-menu-holder-outer {
  display: block;
}

nav.mkdf-fullscreen-menu {
  margin: 0 auto;
  position: relative;
  top: 0;
  text-align: left;
}

nav.mkdf-fullscreen-menu ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.mkdf-fullscreen-menu ul.mkdf-popup-column {
  float: left;
  width: 25%;
}

@media only screen and (max-width: 680px) {
  nav.mkdf-fullscreen-menu ul.mkdf-popup-column {
    width: 50%;
  }
}

nav.mkdf-fullscreen-menu ul li {
  margin: 0;
  padding: 0;
}

nav.mkdf-fullscreen-menu ul li a {
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
  color: #fff;
  padding: 10px 0;
  display: block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

@media only screen and (max-width: 768px) {
  nav.mkdf-fullscreen-menu ul li a {
    font-size: 20px;
    line-height: 1.4em;
  }
}

@media only screen and (max-width: 680px) {
  nav.mkdf-fullscreen-menu ul li a {
    font-size: 16px;
    padding: 6px 0px;
  }
}

nav.mkdf-fullscreen-menu ul li a i {
  vertical-align: bottom;
  font-size: 0.9em;
  margin: 0 0 0 10px;
}

nav.mkdf-fullscreen-menu ul li ul li a i {
  vertical-align: middle;
}

nav.mkdf-fullscreen-menu ul li a:hover,
nav.mkdf-fullscreen-menu ul li.open_sub > a {
  color: #356bf8;
}

nav.mkdf-fullscreen-menu ul li a span {
  display: inline-block;
  vertical-align: middle;
}

nav.mkdf-fullscreen-menu ul > li > a > span {
  position: relative;
}

nav.mkdf-fullscreen-menu ul li ul li a {
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  color: #868686;
  padding: 4px 0;
  text-transform: none;
}

nav.mkdf-fullscreen-menu ul li ul li a:hover {
  color: #356bf8;
}

nav.mkdf-fullscreen-menu > ul {
  display: block;
}

nav.mkdf-fullscreen-menu ul.sub_menu {
  display: none;
}

.mkdf-fullscreen-below-menu-widget-holder {
  text-align: center;
  margin-top: 80px;
}

.mkdf-fullscreen-above-menu-widget-holder {
  text-align: center;
}

/* ==========================================================================
# Fullscreen menu style - end
========================================================================== */
/* ==========================================================================
   Header Minimal style - begin
   ========================================================================== */
.mkdf-header-minimal .mkdf-page-header .mkdf-menu-area .mkdf-position-right-inner {
  height: auto;
}

.mkdf-header-minimal .mkdf-page-header .mkdf-position-left:before,
.mkdf-header-minimal .mkdf-page-header .mkdf-position-right:before {
  content: "";
}

.mkdf-header-minimal .mkdf-page-header .mkdf-sticky-header .mkdf-position-left-inner {
  height: auto;
}

.mkdf-header-minimal .mkdf-page-header .mkdf-sticky-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-position-right-inner {
  height: auto;
}

/* ==========================================================================
   Header Minimal style - end
   ========================================================================== */
/* ==========================================================================
   Header Standard Extended style - begin
   ========================================================================== */
.mkdf-header-standard-extended .mkdf-page-header .mkdf-logo-area {
  height: 107px;
  z-index: 1;
  overflow: visible;
  box-sizing: border-box;
}

.mkdf-header-standard-extended .mkdf-page-header .mkdf-logo-area .mkdf-logo-wrapper a {
  max-height: 107px;
}

.mkdf-header-standard-extended .mkdf-page-header .mkdf-logo-area .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: auto;
}

.mkdf-header-standard-extended .mkdf-page-header .mkdf-logo-area .mkdf-logo-widget-area {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

.mkdf-header-standard-extended .mkdf-page-header .mkdf-logo-area .mkdf-right-from-logo-widget {
  position: relative;
  padding: 0 20px 0 0;
  float: left;
}

.mkdf-header-standard-extended .mkdf-page-header .mkdf-logo-area .mkdf-right-from-logo-widget:last-child {
  padding-right: 0;
}

.mkdf-header-standard-extended .mkdf-page-header .mkdf-menu-area {
  height: 60px;
}

.mkdf-header-standard-extended .mkdf-page-header .mkdf-menu-area .mkdf-main-menu {
  margin-left: 0;
}

.mkdf-header-standard-extended .mkdf-page-header .mkdf-menu-area .mkdf-main-menu > ul > li:not(.mkdf-active-item):first-child > a {
  padding-left: 0;
}

.mkdf-header-standard-extended .mkdf-page-header .mkdf-menu-area .mkdf-main-menu > ul > li > a {
  padding: 0 15px;
}

.mkdf-header-standard-extended .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-header-standard-extended .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: auto;
}

/* ==========================================================================
   Header Standard Extended style - end
   ========================================================================== */
/* ==========================================================================
   Header Standard style - begin
   ========================================================================== */
.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-right .mkdf-main-menu {
  width: auto;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-right .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Standard style - end
   ========================================================================== */
/* ==========================================================================
   Header Top Menu style - begin
   ========================================================================== */
.mkdf-header-top-menu .mkdf-page-header .mkdf-logo-area {
  height: 80px;
  margin-top: 70px;
  overflow: visible;
  z-index: 99;
  box-sizing: border-box;
}

.mkdf-header-top-menu .mkdf-page-header .mkdf-logo-area .mkdf-logo-wrapper a {
  max-height: 80px;
}

.mkdf-header-top-menu .mkdf-page-header .mkdf-menu-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
}

.mkdf-header-top-menu .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-header-top-menu .mkdf-page-header .mkdf-sticky-header .mkdf-position-left-inner {
  height: auto;
}

.mkdf-header-top-menu .mkdf-page-header .mkdf-sticky-header .mkdf-position-right-inner {
  height: 100%;
}

.mkdf-header-top-menu.admin-bar .mkdf-page-header .mkdf-menu-area {
  top: 32px;
}

/* ==========================================================================
   Header Top Menu style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header style - begin
   ========================================================================== */
.mkdf-mobile-header {
  position: relative;
  display: none;
  z-index: 110;
  /* #General mobile header styles
    ========================================================================== */
  /* #End of general mobile header styles
   ========================================================================== */
  /* #Mobile logo styles
    ========================================================================== */
  /* #End of mobile logo styles
    ========================================================================== */
  /* #Mobile menu opener styles
    ========================================================================== */
  /* #End of mobile menu opener styles
    ========================================================================== */
  /* #Mobile menu navigation styles
    ========================================================================== */
  /* #End of mobile menu navigation styles
	========================================================================== */
}

.mkdf-mobile-header .mkdf-mobile-header-inner {
  position: relative;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-header-inner .mkdf-mobile-header-holder {
  position: relative;
  z-index: 2;
  height: 100%;
}

.mkdf-mobile-header .mkdf-grid {
  height: 100%;
}

.mkdf-mobile-header .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-mobile-header .mkdf-vertical-align-containers .mkdf-position-right {
  float: right;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper a {
  display: block;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper img {
  display: block;
  height: 100%;
  width: auto;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener {
  float: right;
  z-index: 2;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a {
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-mobile-header .mkdf-mobile-menu-opener .mkdf-fm-lines {
  position: relative;
  display: block;
  width: 38px;
  height: 20px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener .mkdf-fm-lines .mkdf-fm-line {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: currentColor;
  border-radius: 12px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener .mkdf-fm-lines .mkdf-fm-line.mkdf-line-1 {
  top: 0;
  width: 31px;
  outline: transparent solid 1px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener .mkdf-fm-lines .mkdf-fm-line.mkdf-line-2 {
  top: calc(50%);
  left: auto;
  right: 0;
  width: 29px;
  outline: transparent solid 1px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener .mkdf-fm-lines .mkdf-fm-line.mkdf-line-3 {
  top: calc(100%);
  outline: transparent solid 1px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opened .mkdf-mobile-nav {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opened .mkdf-fm-lines .mkdf-fm-line {
  width: 100%;
}

.mkdf-mobile-header .mkdf-mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: #141414;
  border-bottom: 1px solid #d8d8d8;
  overflow-y: auto;
  -webkit-transform: translateX(320px);
  -moz-transform: translateX(320px);
  transform: translateX(320px);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  z-index: 9;
}

.mkdf-mobile-header .mkdf-mobile-nav.mkdf-nav-opened {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.mkdf-mobile-header .mkdf-mobile-nav .icon_close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 48px;
  color: #fff;
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li {
  position: relative;
  text-align: left;
  padding: 0 0 65px;
  margin: 0;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li a, .mkdf-mobile-header .mkdf-mobile-nav ul li h6 {
  position: relative;
  display: block;
  padding: 9px 0;
  margin: 0;
  color: #868686;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li a:hover, .mkdf-mobile-header .mkdf-mobile-nav ul li h6:hover {
  color: #356bf8;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul {
  display: none;
  padding: 15px 0 0;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul li {
  padding: 0;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-ancestor > a,
.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-item > a {
  color: #356bf8;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul li a, .mkdf-mobile-header .mkdf-mobile-nav ul ul li h6 {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 0;
}

.mkdf-mobile-header .mkdf-mobile-nav > ul {
  padding: 37% 0 0 0;
}

.mkdf-mobile-header .mkdf-mobile-nav > ul > li {
  padding: 10px 0 5px 67px;
}

.mkdf-mobile-header .mkdf-mobile-nav > ul > li > a,
.mkdf-mobile-header .mkdf-mobile-nav > ul > li > h6 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.mkdf-mobile-header .mkdf-mobile-nav > ul > li.mkdf-active-item > a {
  color: #356bf8;
}

.mkdf-mobile-header .mkdf-mobile-nav > ul > li:last-child > a,
.mkdf-mobile-header .mkdf-mobile-nav > .mkdf-grid > ul > li:last-child > a {
  border-bottom: none;
}

.mkdf-mobile-header .mkdf-mobile-nav .mkdf-mobile-sidebar {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  text-align: center;
}

/* ==========================================================================
   Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky Mobile header style - begin
   ========================================================================== */
.mkdf-sticky-up-mobile-header .mkdf-animate-mobile-header .mkdf-mobile-header-inner {
  width: 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  -moz-transition: -moz-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

.mkdf-sticky-up-mobile-header.mkdf-paspartu-enabled .mobile-header-appear .mkdf-mobile-header-inner {
  top: 43px;
  padding-left: 43px;
  padding-right: 43px;
  box-sizing: border-box;
}

.mkdf-sticky-up-mobile-header.admin-bar .mobile-header-appear .mkdf-mobile-header-inner {
  -webkit-transform: translateY(32px);
  -moz-transform: translateY(32px);
  transform: translateY(32px);
}

.mkdf-sticky-up-mobile-header.admin-bar .mkdf-mobile-nav {
  top: 43px;
  height: calc(100% - 43px);
}

/* ==========================================================================
   Sticky Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header style - begin
   ========================================================================== */
.mkdf-sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 100;
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform .6s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.mkdf-sticky-header .mkdf-grid {
  height: 100% !important;
}

.mkdf-sticky-header.header-appear {
  transform: translateY(0%);
}

.mkdf-sticky-header .mkdf-sticky-holder {
  position: relative;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  box-sizing: border-box;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-logo-wrapper a {
  max-height: 70px;
}

.admin-bar .mkdf-sticky-header.header-appear {
  top: 32px;
}

.mkdf-sticky-header .mkdf-position-center-inner,
.mkdf-sticky-header .mkdf-position-right-inner {
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-right {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-sticky-header .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.mkdf-sticky-header .mkdf-drop-down .second .inner {
  border-top: 1px solid #d8d8d8;
}

.mkdf-paspartu-enabled .mkdf-sticky-header {
  top: 43px;
  padding-left: 43px;
  padding-right: 43px;
  box-sizing: border-box;
}

/* ==========================================================================
   Sticky header style - end
   ========================================================================== */
/* ==========================================================================
   Top header style - begin
   ========================================================================== */
.mkdf-top-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 46px;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  background-color: #191919;
  z-index: 111;
}

.mkdf-top-bar > .mkdf-vertical-align-containers {
  padding: 0 60px;
}

.mkdf-top-bar .mkdf-grid {
  height: 100%;
}

.mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  padding-left: 0;
  padding-right: 0;
}

.mkdf-top-bar-in-grid-padding .mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0 60px;
}

.mkdf-top-bar div {
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
}

.mkdf-top-bar .widget {
  margin: 0;
}

/* ==========================================================================
   Top header style - end
   ========================================================================== */
/* ==========================================================================
   Header styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/header-map.css.map */
